In [1]:
import os
import numpy as np

import tensorflow as tf
import tensorflow_probability as tfp

import matplotlib.pyplot as plt

2024-04-10 18:58:36.054904: I tensorflow/core/util/port.cc:111] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-04-10 18:58:36.143190: E tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:9342] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-04-10 18:58:36.143245: E tensorflow/compiler/xla/stream_executor/cuda/cuda_fft.cc:609] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-04-10 18:58:36.143540: E tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:1518] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-04-10 18:58:36.192517: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-04-10 18:58:36.840846: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

# Synthetic data

In [2]:
one_n_j = tf.convert_to_tensor(np.load("data/US/preprocessed/US_one_n_j.npy"), dtype = tf.float32)
a_0, b_0 = 20, 1

K = 15

N = 1150934

2024-04-10 18:58:38.667516: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-04-10 18:58:38.951463: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-04-10 18:58:38.951541: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-04-10 18:58:38.956835: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-04-10 18:58:38.956895: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-04-10 18:58:38.956918: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-04-10 18:58:39.176502: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-04-10 18:58:39.176599: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-04-10 18:58:39.176606: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1977] Could not identify NUMA node of platform GPU id 0, defaulting to 0.  Your kernel may not have been built with NUMA support.
2024-04-10 18:58:39.176650: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-04-10 18:58:39.176698: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1886] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 5520 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 4070 Laptop GPU, pci bus id: 0000:01:00.0, compute capability: 8.9

In [3]:
os.chdir("scripts/")
%run -i mixed_membership_model.py
%run -i Manrique_Vallier.py
os.chdir("../")

In [4]:
X_ij, theta_j_k, g_i, g_0 = param_mixed_membership_model(K, one_n_j, a_0, b_0, N)

2024-04-10 18:58:46.006674: I tensorflow/tsl/platform/default/subprocess.cc:304] Start cannot spawn child process: No such file or directory

In [6]:
# X_ij, theta_j_k, g_i, g_0 = param_mixed_membership_model(K, one_n_j, a_0, b_0, N)

# np.save("data/synthetic/synth_X_ij_full.npy", X_ij)
# np.save("data/synthetic/synth_theta_j_k.npy", theta_j_k)
# np.save("data/synthetic/synth_g_i.npy", g_i)
# np.save("data/synthetic/synth_g_0.npy", g_0)

X_ij      = tf.convert_to_tensor(np.load("data/synthetic/synth_X_ij_full.npy"), dtype = tf.int32)
theta_j_k = tf.convert_to_tensor(np.load("data/synthetic/synth_theta_j_k.npy"), dtype = tf.float32)
g_i       = tf.convert_to_tensor(np.load("data/synthetic/synth_g_i.npy"), dtype = tf.float32)
g_0       = tf.convert_to_tensor(np.load("data/synthetic/synth_g_0.npy"), dtype = tf.float32)

In [7]:
# np.save("data/synthetic/synth_X_ij_full.npy", X_ij)

batch_size = 2048

n = 1000
# np.save("data/synthetic/synth_X_ij_1000.npy", X_ij[:n,:])
tau_in_data_1000 = step_tau_with_data(X_ij[:n,:], one_n_j, X_ij[n:N,:], batch_size, N)
print(r"n=1000 with $\tau$: ", tau_in_data_1000.numpy())

n = 5000
# np.save("data/synthetic/synth_X_ij_5000.npy", X_ij[:n,:])
tau_in_data_5000 = step_tau_with_data(X_ij[:n,:], one_n_j, X_ij[n:N,:], batch_size, N)
print(r"n=5000 with $\tau$: ", tau_in_data_5000.numpy())

n = 10000
# np.save("data/synthetic/synth_X_ij_10000.npy", X_ij[:n,:])
tau_in_data_10000 = step_tau_with_data(X_ij[:n,:], one_n_j, X_ij[n:N,:], batch_size, N)
print(r"n=10000 with $\tau$: ", tau_in_data_10000.numpy())

n=1000 with $\tau$:  79.0
WARNING:tensorflow:5 out of the last 5 calls to <function fast_frequency_batched_final_size at 0x7f5494749bc0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
n=5000 with $\tau$:  391.0
WARNING:tensorflow:6 out of the last 6 calls to <function fast_frequency_batched_final_size at 0x7f5494749bc0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
n=10000 with $\tau$:  762.0

The above is not satisfying enough as it strictly depends on the choice of the other data... However it still gives huge estimates of tau so probably it does not affect it too much...

In [2]:
# a_0, b_0 = 1, 1
# a, b = 100, 1

# nr_simulation_DP = 200

# X_ij = nonparam_mixed_membership_model(one_n_j, a_0, b_0, a, b, int(N/batch_size), batch_size, nr_simulation_DP)

In [3]:
# batch_size = 2048

# n = 1000
# tau_in_data_1000 = step_tau_with_data(X_ij[:n,:], one_n_j, X_ij[n:N,:], batch_size, N)
# print(r"n=1000 with $\tau$: ", tau_in_data_1000.numpy())

# n = 5000
# tau_in_data_5000 = step_tau_with_data(X_ij[:n,:], one_n_j, X_ij[n:N,:], batch_size, N)
# print(r"n=1000 with $\tau$: ", tau_in_data_5000.numpy())

# n = 10000
# tau_in_data_10000 = step_tau_with_data(X_ij[:n,:], one_n_j, X_ij[n:N,:], batch_size, N)
# print(r"n=1000 with $\tau$: ", tau_in_data_10000.numpy())

# US data with structural

In [45]:
import pandas as pd
import numpy as np

In [46]:
df = pd.read_csv("data/US/raw/usa_00002.csv")
# df_2 = pd.read_csv("data/US/raw/usa_00003.csv")

df = df[["AGE", "SEX", "MARST", "RACE", "EDUC", "EMPSTAT", "INCTOT", "VETSTAT", "NCHILD", "HCOVANY"]]

In [49]:
df_1 = df.copy()

In [50]:
df_1 = df_1.drop(df_1[df_1["AGE"] == 999].index)
df_1.reset_index(drop=True, inplace=True)
df_1

,AGE,SEX,MARST,RACE,EDUC,EMPSTAT,INCTOT,VETSTAT,NCHILD,HCOVANY
0,19,2,6,1,6,3,-1500,1,0,2
1,18,2,6,2,6,3,1600,1,0,2
2,53,1,6,1,6,3,10000,1,0,1
3,28,1,6,1,7,3,0,2,0,1
4,25,2,6,1,3,3,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...
3214534,9,2,6,1,1,0,9999999,0,0,1
3214535,7,2,6,1,1,0,9999999,0,0,1
3214536,49,2,4,1,7,1,18500,1,1,2
3214537,19,2,6,1,6,1,11500,1,0,1
3214538,71,1,4,1,7,3,51700,2,0,2

In [51]:
bins_age = [0, 15, 16, 17, 18, 24, 35, 50, 70, 120]
for i in range(9):

    condition = (df_1["AGE"]>bins_age[i]) & (df_1["AGE"]<=bins_age[i+1])
    df_1.loc[condition, "AGE"] = int(i)
    if i<3:
        cond_emp = df_1["EMPSTAT"]==0
        df_1.loc[condition & cond_emp, "EMPSTAT"] = int(3)

        cond_vet = df_1["VETSTAT"]==0
        df_1.loc[condition & cond_vet, "VETSTAT"] = int(1)

        cond_inc = df_1["INCTOT"]==9999999
        df_1.loc[condition & cond_inc, "INCTOT"] = int(0)

print(np.unique(df_1[["AGE"]], return_counts=True))

(array([0, 1, 2, 3, 4, 5, 6, 7, 8]), array([571858,  39531,  40559,  46164, 230340, 428060, 575129, 891653,
       391245]))

In [52]:
condition = (df_1["NCHILD"]>=4)
df_1.loc[condition, "NCHILD"] = int(4)

np.unique(df_1[["NCHILD"]].values, return_counts=True)

(array([0, 1, 2, 3, 4]), array([2344205,  416004,  294007,  111908,   48415]))

In [53]:
df_1 = df_1.drop(df_1[df_1["SEX"] == 9].index)
df_1.reset_index(drop=True, inplace=True)

df_1 = df_1.drop(df_1[df_1["MARST"] == 9].index)
df_1.reset_index(drop=True, inplace=True)
df_1

,AGE,SEX,MARST,RACE,EDUC,EMPSTAT,INCTOT,VETSTAT,NCHILD,HCOVANY
0,4,2,6,1,6,3,-1500,1,0,2
1,3,2,6,2,6,3,1600,1,0,2
2,7,1,6,1,6,3,10000,1,0,1
3,5,1,6,1,7,3,0,2,0,1
4,5,2,6,1,3,3,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...
3214534,0,2,6,1,1,3,0,1,0,1
3214535,0,2,6,1,1,3,0,1,0,1
3214536,6,2,4,1,7,1,18500,1,1,2
3214537,4,2,6,1,6,1,11500,1,0,1
3214538,8,1,4,1,7,3,51700,2,0,2

In [54]:
df_1["SEX"]   = df_1["SEX"] - df_1["SEX"].min()
print(np.unique(df_1[["SEX"]].values, return_counts=True))

df_1["MARST"] = df_1["MARST"] - df_1["MARST"].min()
print(np.unique(df_1[["MARST"]].values, return_counts=True))

(array([0, 1]), array([1574618, 1639921]))
(array([0, 1, 2, 3, 4, 5]), array([1315458,   60430,   44049,  289882,  171721, 1332999]))

In [55]:
race_sets = [{1}, {2}, {3,4,5,6}, {7}, {8,9}]
for i in range(5):

    condition = (df_1["RACE"]).isin(race_sets[i])
    df_1.loc[condition, "RACE"] = int(i)
    
print(np.unique(df_1[["RACE"]].values, return_counts=True))

(array([0, 1, 2, 3, 4]), array([2469925,  310237,  213739,  119050,  101588]))

In [56]:
df_1 = df_1.drop(df_1[df_1["EDUC"] == 99].index)
df_1.reset_index(drop=True, inplace=True)
df_1

,AGE,SEX,MARST,RACE,EDUC,EMPSTAT,INCTOT,VETSTAT,NCHILD,HCOVANY
0,4,1,5,0,6,3,-1500,1,0,2
1,3,1,5,1,6,3,1600,1,0,2
2,7,0,5,0,6,3,10000,1,0,1
3,5,0,5,0,7,3,0,2,0,1
4,5,1,5,0,3,3,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...
3214534,0,1,5,0,1,3,0,1,0,1
3214535,0,1,5,0,1,3,0,1,0,1
3214536,6,1,3,0,7,1,18500,1,1,2
3214537,4,1,5,0,6,1,11500,1,0,1
3214538,8,0,3,0,7,3,51700,2,0,2

In [57]:
edu_sets = [{0}, {1}, {2}, {3}, {4}, {5}, {6}, {7}, {8}, {9}, {10, 11}]
for i in range(11):

    condition = (df_1["EDUC"]).isin(edu_sets[i])
    df_1.loc[condition, "EDUC"] = int(i)

print(np.unique(df_1[["EDUC"]].values, return_counts=True))

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8, 10]), array([192718, 239568, 213469,  69213,  76684,  85612, 948049, 381192,
       213684, 794350]))

In [58]:
print(np.unique(df_1[["EMPSTAT"]].values, return_counts=True))
print(np.unique(df_1[["AGE"]], return_counts=True))

(array([0, 1, 2, 3]), array([  30440, 1509092,   71798, 1603209]))
(array([0, 1, 2, 3, 4, 5, 6, 7, 8]), array([571858,  39531,  40559,  46164, 230340, 428060, 575129, 891653,
       391245]))

In [59]:
df_1 = df_1.drop(df_1[df_1["EMPSTAT"] == 9].index)
df_1 = df_1.drop(df_1[df_1["EMPSTAT"] == 0].index)
df_1.reset_index(drop=True, inplace=True)

In [60]:
df_1["EMPSTAT"] = df_1["EMPSTAT"] - df_1["EMPSTAT"].min()
print(np.unique(df_1[["EMPSTAT"]].values, return_counts=True))

(array([0, 1, 2]), array([1509092,   71798, 1603209]))

In [61]:
df_1 = df_1.drop(df_1[df_1["INCTOT"] == 9999999].index)
df_1 = df_1.drop(df_1[df_1["INCTOT"] == 9999998].index)
df_1.reset_index(drop=True, inplace=True)
df_1

,AGE,SEX,MARST,RACE,EDUC,EMPSTAT,INCTOT,VETSTAT,NCHILD,HCOVANY
0,4,1,5,0,6,2,-1500,1,0,2
1,3,1,5,1,6,2,1600,1,0,2
2,7,0,5,0,6,2,10000,1,0,1
3,5,0,5,0,7,2,0,2,0,1
4,5,1,5,0,3,2,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...
3184094,0,1,5,0,1,2,0,1,0,1
3184095,0,1,5,0,1,2,0,1,0,1
3184096,6,1,3,0,7,0,18500,1,1,2
3184097,4,1,5,0,6,0,11500,1,0,1
3184098,8,0,3,0,7,2,51700,2,0,2

In [62]:
condition = df_1["INCTOT"]<0
df_1.loc[condition, "INCTOT"] = -1
condition = df_1["INCTOT"]>300000
df_1.loc[condition, "INCTOT"] = 300005
bins_inc = [-1000, 2000, 11000, 20000, 31000, 45000, 60000, 80000, 120000, 200000, df_1["INCTOT"].max()+1]
# plt.hist( df_1["INCTOT"].values, bins = bins_inc)
for i in range(10):

    condition = (df_1["INCTOT"]>bins_inc[i]) & (df_1["INCTOT"]<=bins_inc[i+1])
    df_1.loc[condition, "INCTOT"] = int(i)

print(np.unique(df_1[["INCTOT"]].values, return_counts=True))

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), array([943362, 368759, 369447, 346250, 340832, 263869, 205818, 185130,
       100884,  59748]))

In [63]:
df_1 = df_1.drop(df_1[df_1["VETSTAT"] == 0].index)
df_1 = df_1.drop(df_1[df_1["VETSTAT"] == 9].index)
df_1.reset_index(drop=True, inplace=True)
df_1

,AGE,SEX,MARST,RACE,EDUC,EMPSTAT,INCTOT,VETSTAT,NCHILD,HCOVANY
0,4,1,5,0,6,2,0,1,0,2
1,3,1,5,1,6,2,0,1,0,2
2,7,0,5,0,6,2,1,1,0,1
3,5,0,5,0,7,2,0,2,0,1
4,5,1,5,0,3,2,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...
3184094,0,1,5,0,1,2,0,1,0,1
3184095,0,1,5,0,1,2,0,1,0,1
3184096,6,1,3,0,7,0,2,1,1,2
3184097,4,1,5,0,6,0,2,1,0,1
3184098,8,0,3,0,7,2,5,2,0,2

In [64]:
df_1["HCOVANY"] = df_1["HCOVANY"] - df_1["HCOVANY"].min()
print(np.unique(df_1[["HCOVANY"]].values, return_counts=True))

df_1["VETSTAT"] = df_1["VETSTAT"] - df_1["VETSTAT"].min()
print(np.unique(df_1[["VETSTAT"]].values, return_counts=True))

(array([0, 1]), array([ 250168, 2933931]))
(array([0, 1]), array([2980460,  203639]))

In [87]:
set_row = []
for row in df_1.columns:
    set_row.append(row)
    for col in df_1.columns:
        if row!=col:
            if (col in set_row)==False:
                print("###################################")
                print("###################################")
                print(pd.crosstab(df_1[row], df_1[col]))

###################################
###################################
SEX       0       1
AGE
0    277366  264052
1     20526   19005
2     21064   19495
3     23402   22762
4    118147  112193
5    215618  212442
6    284698  290431
7    428117  463536
8    169989  221256
###################################
###################################
MARST       0      1      2       3       4       5
AGE
0          47    230     45       0       6  541090
1          65    227     38      15      11   39175
2          81    256     47      27       7   40141
3         242    351     14      29      19   45509
4       15770   3857    754    1026     131  208802
5      177423  11755   6910   19821     868  211283
6      359922  14263  15035   72319    5242  108348
7      564954  18767  17806  150674   50353   89099
8      196954  10724   3400   45971  115084   19112
###################################
###################################
RACE       0      1      2      3      4
AGE
0     387532  53602  36354  26695  37235
1      28729   4189   2523   1966   2124
2      28838   4677   2863   2098   2083
3      32661   5523   3550   2230   2200
4     163683  26913  17685  11894  10165
5     313110  44168  35030  21299  14453
6     431488  56753  47092  25709  14087
7     724223  83283  50194  20930  13023
8     337747  28325  16578   4915   3680
###################################
###################################
EDUC      0       1       2      3      4      5       6       7      8   \
AGE
0     124615  227572  154539  27609   6566    360     157       0      0
1         76      10    1547  10132  20739   6541     401      64     21
2        113      13     506   1267   9870  23091    5405     262     32
3        176      23     306    359   1296  10626   29345    3737    296
4       1300     282    1790   1635   2876   5390   96224   74189  14585
5       4103    1030    5944   4623   5444   7219  131002   62927  39555
6       8472    2360   12540   7644   7831   9206  178986   74583  55253
7      14546    4434   18599   9669  13042  14553  338982  119501  82525
8       8877    3844   17698   6275   9020   8626  167547   45929  21417

EDUC      10
AGE
0          0
1          0
2          0
3          0
4      32069
5     166213
6     218254
7     275802
8     102012
###################################
###################################
EMPSTAT       0      1       2
AGE
0             0      0  541418
1          6256   1376   31899
2         10450   1814   28295
3         17088   3499   25577
4        145220  14709   70411
5        334648  16161   77251
6        454762  16542  103825
7        501565  16395  373693
8         39103   1302  350840
###################################
###################################
INCTOT       0       1       2       3       4      5      6      7      8  \
AGE
0       538813    2090     410      70      15      5      7      4      0
1        34189    4565     547     140      42     20     12      8      1
2        30750    8333    1082     243      80     28     27      6      4
3        26719   15163    2962     905     249     70     43     34      4
4        66863   69534   40034   28224   15306   6369   2718    874    219
5        61348   45467   51050   64259   72543  54823  37177  27563  10259
6        74459   48817   55201   65227   80370  72177  62290  62809  35100
7        90229  106188  124433  116489  121177  99599  81776  76892  45827
8        19992   68602   93728   70693   51050  30778  21768  16940   9470

INCTOT      9
AGE
0           4
1           7
2           6
3          15
4         199
5        3571
6       18679
7       29043
8        8224
###################################
###################################
VETSTAT       0      1
AGE
0        541418      0
1         39531      0
2         40525     34
3         46090     74
4        228381   1959
5        415112  12948
6        547846  27283
7        809257  82396
8        312300  78945
###################################
###################################
NCHILD       0       1       2      3      4
AGE
0       541359      46       9      2      2
1        39417      99      13      1      1
2        40345     179      28      4      3
3        45723     381      48      7      5
4       213160   11260    4477   1136    307
5       254954   66253   64543  28893  13417
6       204690  117838  157012  65907  29682
7       643562  166231   61888  15157   4815
8       330555   53717    5989    801    183
###################################
###################################
HCOVANY      0       1
AGE
0        24596  516822
1         2413   37118
2         2693   37866
3         3803   42361
4        29852  200488
5        63563  364497
6        67976  507153
7        53555  838098
8         1717  389528
###################################
###################################
MARST       0      1      2       3       4       5
SEX
0      657690  32513  18545  124216   38727  687236
1      657768  27917  25504  165666  132994  615323
###################################
###################################
RACE        0       1       2      3      4
SEX
0     1202717  147153  100465  59439  49153
1     1245294  160280  111404  58297  49897
###################################
###################################
EDUC     0       1       2      3      4      5       6       7       8   \
SEX
0     81900  122682  109430  36715  40408  44952  472764  184232   92282
1     80378  116886  104039  32498  36276  40660  475285  196960  121402

EDUC      10
SEX
0     373562
1     420788
###################################
###################################
EMPSTAT       0      1       2
SEX
0        786155  37979  734793
1        722937  33819  868416
###################################
###################################
INCTOT       0       1       2       3       4       5       6       7      8  \
SEX
0       439377  136463  147914  160998  173946  146325  120855  117308  71111
1       503985  232296  221533  185252  166886  117544   84963   67822  29773

INCTOT      9
SEX
0       44630
1       15118
###################################
###################################
VETSTAT        0       1
SEX
0        1372380  186547
1        1608080   17092
###################################
###################################
NCHILD        0       1       2      3      4
SEX
0       1177363  174214  134011  51298  22041
1       1136402  241790  159996  60610  26374
###################################
###################################
HCOVANY       0        1
SEX
0        141716  1417211
1        108452  1516720
###################################
###################################
RACE         0       1      2      3      4
MARST
0      1093580   70863  92226  37163  21626
1        39463    8946   6666   3725   1630
2        28597    9112   2298   2798   1244
3       232920   32301  11235   7203   6223
4       140988   17307   8278   2976   2172
5       912463  168904  91166  63871  66155
###################################
###################################
EDUC       0       1       2      3      4      5       6       7       8   \
MARST
0       16063    5432   25832  12388  14749  16145  434793  167908  120115
1        1699     601    2564   1454   1645   1837   23622    7918    4190
2        1280     422    1982   1140   1327   1578   18660    6485    3512
3        3573    1057    5807   3740   5234   5919  117349   44976   28412
4        4568    1969    9482   3602   4974   4993   80371   20180   10573
5      135095  230087  167802  46889  48755  55140  273254  133725   46882

EDUC       10
MARST
0      502033
1       14900
2        7663
3       73815
4       31009
5      164930
###################################
###################################
EMPSTAT       0      1       2
MARST
0        817399  19889  478170
1         29447   1877   29106
2         25353   1911   16785
3        162435   7955  119492
4         29667   1289  140765
5        444791  38877  818891
###################################
###################################
INCTOT       0       1       2       3       4       5       6       7      8  \
MARST
0       136660  131933  154004  162813  185505  159340  133646  129216  75656
1        12400   10097    9526    8304    6752    4488    3209    2931   1642
2         6247    8080    7772    6681    5688    3778    2457    1948    896
3        24146   36364   48408   44625   43846   33195   24650   20409   9561
4        11792   24278   44252   33810   23084   13238    8805    6754   3261
5       752117  158007  105485   90017   75957   49830   33051   23872   9868

INCTOT      9
MARST
0       46685
1        1081
2         502
3        4678
4        2447
5        4355
###################################
###################################
VETSTAT        0       1
MARST
0        1186724  128734
1          55113    5317
2          40672    3377
3         259617   30265
4         154454   17267
5        1283880   18679
###################################
###################################
NCHILD        0       1       2      3      4
MARST
0        686296  266784  233712  90210  38456
1         47908    7631    3100   1206    585
2         26304    8755    5439   2373   1178
3        205705   51829   22361   7053   2934
4        128115   36180    5806   1227    393
5       1219437   44825   23589   9839   4869
###################################
###################################
HCOVANY       0        1
MARST
0         70034  1245424
1          9493    50937
2          7536    36513
3         29605   260277
4          4761   166960
5        128739  1173820
###################################
###################################
EDUC      0       1       2      3      4      5       6       7       8   \
RACE
0     110275  170143  150647  48811  54621  59377  744183  293084  173545
1      16356   23470   20916   7851  10616  13470  103807   43708   18928
2      13919   16249   14500   4237   4586   4925   44244   21364   11519
3      11325   13306   16670   5466   3999   4640   35107   12155    4846
4      10403   16400   10736   2848   2862   3200   20708   10881    4846

EDUC      10
RACE
0     643325
1      48311
2      76326
3      10222
4      16166
###################################
###################################
EMPSTAT        0      1        2
RACE
0        1180027  48404  1219580
1         130396  12100   164937
2         104743   5142   101984
3          56858   3495    57383
4          37068   2657    59325
###################################
###################################
INCTOT       0       1       2       3       4       5       6       7      8  \
RACE
0       665237  272646  286302  271170  274266  217349  171672  153219  84101
1       105379   45869   40420   34497   30766   20451   13813   10486   4174
2        74336   25644   19868   18296   17226   14125   12452   15109   9889
3        47877   14086   14638   14743   11742    6829    3925    2692    861
4        50533   10514    8219    7544    6832    5115    3956    3624   1859

INCTOT      9
RACE
0       52049
1        1578
2        4924
3         343
4         854
###################################
###################################
VETSTAT        0       1
RACE
0        2274382  173629
1         288565   18868
2         206669    5200
3         115640    2096
4          95204    3846
###################################
###################################
NCHILD        0       1       2      3      4
RACE
0       1791275  313897  222921  83931  35987
1        228596   41701   22873   9599   4664
2        137797   35691   27488   7927   2966
3         76816   15853   13930   7654   3483
4         79281    8862    6795   2797   1315
###################################
###################################
HCOVANY       0        1
RACE
0        169157  2278854
1         34092   273341
2         17162   194707
3         21993    95743
4          7764    91286
###################################
###################################
EMPSTAT       0      1       2
EDUC
0         13940   1007  147331
1          4357    233  234978
2         20415   1263  191791
3         12303   1410   55500
4         18856   2688   55140
5         27197   3865   54550
6        485677  30894  431478
7        224828  11209  145155
8        142644   4807   66233
10       558875  14422  221053
###################################
###################################
INCTOT       0       1       2       3       4       5       6       7      8  \
EDUC
0       133378    9828    7810    4824    3173    1634     786     493    166
1       230004    3323    2803    1667     969     433     198     102     38
2       166701   14828   13673    8785    5116    2227    1078     642    219
3        43566    9157    6870    4487    2667    1245     637     371    112
4        41335   13915    8949    5618    3558    1612     869     499    174
5        41004   19306   10457    6576    4086    2082    1108     622    222
6       149982  160782  171891  154480  131611   82070   49750   31273  10393
7        59017   62060   56539   55541   53617   37053   26227   19772   7775
8        20604   22726   29006   32513   36241   28375   21605   15639   5115
10       57771   52834   61449   71759   99794  107138  103560  115717  76670

INCTOT      9
EDUC
0         186
1          31
2         200
3         101
4         155
5         149
6        5817
7        3591
8        1860
10      47658
###################################
###################################
VETSTAT       0      1
EDUC
0        161023   1255
1        239291    277
2        211026   2443
3         67850   1363
4         74655   2029
5         83578   2034
6        868747  79302
7        345962  35230
8        192867  20817
10       735461  58889
###################################
###################################
NCHILD       0       1       2      3      4
EDUC
0       146094    8301    4441   2224   1218
1       233849    2830    1460    893    536
2       188878   11228    6640   3801   2922
3        57438    5071    3405   2081   1218
4        64594    6213    3273   1640    964
5        71366    7224    3758   2064   1200
6       660107  150140   86744  34997  16061
7       266634   55225   37727  15068   6538
8       131371   38828   28587  10651   4247
10      493434  130944  117972  38489  13511
###################################
###################################
HCOVANY       0       1
EDUC
0         12161  150117
1         12244  227324
2         20863  192606
3          9612   59601
4          9530   67154
5         11071   74541
6        102538  845511
7         32077  349115
8         13713  199971
10        26359  767991
###################################
###################################
INCTOT        0       1       2       3       4       5       6       7  \
EMPSTAT
0         36873  141070  172819  222345  254254  211733  170688  161174
1         30961   17288    8597    5458    3759    2178    1465    1138
2        875528  210401  188031  118447   82819   49958   33665   22818

INCTOT       8      9
EMPSTAT
0        88613  49523
1          613    341
2        11658   9884
###################################
###################################
VETSTAT        0       1
EMPSTAT
0        1426261   82831
1          68510    3288
2        1485689  117520
###################################
###################################
NCHILD         0       1       2      3      4
EMPSTAT
0         884385  271955  232516  85774  34462
1          50871    9410    6889   3029   1599
2        1378509  134639   54602  23105  12354
###################################
###################################
HCOVANY       0        1
EMPSTAT
0        126894  1382198
1         15986    55812
2        107288  1495921
###################################
###################################
VETSTAT       0      1
INCTOT
0        933792   9570
1        355034  13725
2        342207  27240
3        314999  31251
4        307050  33782
5        236008  27861
6        183109  22709
7        164660  20470
8         89519  11365
9         54082   5666
###################################
###################################
NCHILD       0      1      2      3      4
INCTOT
0       834109  45284  35896  17963  10110
1       283063  46474  24219  10108   4895
2       268345  55960  28402  11422   5318
3       236625  56577  33752  13402   5894
4       219227  59432  40516  15376   6281
5       161410  48307  36443  12799   4910
6       121549  38322  31521  10515   3911
7       102340  35939  32722  10347   3782
8        53983  19416  19482   5977   2026
9        33114  10293  11054   3999   1288
###################################
###################################
HCOVANY      0       1
INCTOT
0        98136  845226
1        34741  334018
2        36885  332562
3        33047  313203
4        22836  317996
5        11761  252108
6         6207  199611
7         3913  181217
8         1632   99252
9         1010   58738
###################################
###################################
NCHILD         0       1       2       3      4
VETSTAT
0        2160155  386737  279946  107112  46510
1         153610   29267   14061    4796   1905
###################################
###################################
HCOVANY       0        1
VETSTAT
0        245077  2735383
1          5091   198548
###################################
###################################
HCOVANY       0        1
NCHILD
0        174219  2139546
1         31117   384887
2         24408   269599
3         12879    99029
4          7545    40870

In [91]:
import tensorflow as tf

In [93]:
n_j = np.zeros(len(df_1.columns))
for index in range(len(df_1.columns)):

    n_j[index] = df_1[df_1.columns[index]].max()
    
n_j = tf.convert_to_tensor(n_j+1, dtype = tf.float32)
max_categ = tf.expand_dims(tf.cast(tf.linspace(0, int(tf.reduce_max(n_j)) - 1, int(tf.reduce_max(n_j))), dtype = tf.float32), axis = 0)*tf.ones((tf.shape(n_j)[0], int(tf.reduce_max(n_j))))
ones_condition = max_categ<tf.expand_dims(n_j, axis = -1)*tf.ones((tf.shape(n_j)[0], int(tf.reduce_max(n_j))))

one_n_j = tf.where(ones_condition, tf.ones(tf.shape(ones_condition)), tf.zeros(tf.shape(ones_condition)))

In [95]:
# X_ij_complete = df_1.values
# np.save("data/US/structural_zeros/US_one_n_j.npy", one_n_j)
# np.save("data/US/structural_zeros/US_X_ij_full.npy", X_ij_complete)

# # Shuffle the indices of the data
# indices = np.arange(X_ij_complete.shape[0])
# np.random.seed(42)
# np.random.shuffle(indices)
# np.save("data/US/structural_zeros/US_indices.npy", indices)

In [97]:
# X_ij_complete_shuffled = X_ij_complete[indices,:]

# n = 1000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/US/structural_zeros/US_X_ij_1000.npy", X_ij_included)

# n = 5000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/US/structural_zeros/US_X_ij_5000.npy", X_ij_included)

# n = 10000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/US/structural_zeros/US_X_ij_10000.npy", X_ij_included)

# US data

In [ ]:
# choice 3 keep nr child as it is
# choice 4 collapse nr child to >4
# choice 5 collapse nr child to >3, marst to married, separated, single, race 7,8,9 together, educ 0,1,2 together
# preprocessed is the final version

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/US/raw/usa_00002.csv")
# df_2 = pd.read_csv("data/US/raw/usa_00003.csv")

df = df[["AGE", "SEX", "MARST", "RACE", "EDUC", "EMPSTAT", "INCTOT", "VETSTAT", "NCHILD", "HCOVANY"]]

In [11]:
df_1 = df.loc[df["AGE"]>=21].copy()
print(np.unique(df_1[["AGE"]].values))

[21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44
 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68
 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92
 93 94 95 96]

In [12]:
df_1 = df_1.drop(df_1[df_1["AGE"] == 999].index)
df_1.reset_index(drop=True, inplace=True)
df_1

,AGE,SEX,MARST,RACE,EDUC,EMPSTAT,INCTOT,VETSTAT,NCHILD,HCOVANY
0,53,1,6,1,6,3,10000,1,0,1
1,28,1,6,1,7,3,0,2,0,1
2,25,2,6,1,3,3,0,1,0,2
3,30,2,6,1,6,3,0,1,0,2
4,66,2,5,1,7,3,15000,1,0,2
...,...,...,...,...,...,...,...,...,...,...
2432318,77,1,1,1,6,3,32100,2,0,2
2432319,41,1,4,1,6,1,42100,1,3,2
2432320,34,2,6,1,10,1,47500,1,3,2
2432321,49,2,4,1,7,1,18500,1,1,2
2432322,71,1,4,1,7,3,51700,2,0,2

In [13]:
bins_age = [0, 30, 38, 46, 54, 60, 66, 72, 80, 90, 100]
for i in range(10):

    condition = (df_1["AGE"]>bins_age[i]) & (df_1["AGE"]<=bins_age[i+1])
    df_1.loc[condition, "AGE"] = int(i)

print(np.unique(df_1[["AGE"]], return_counts=True))

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), array([379083, 311243, 294992, 335651, 285958, 274653, 229521, 188128,
       107239,  25855]))

In [14]:
condition = (df_1["NCHILD"]>=4)
df_1.loc[condition, "NCHILD"] = int(4)

np.unique(df_1[["NCHILD"]].values, return_counts=True)

(array([0, 1, 2, 3, 4]), array([1564997,  413546,  293564,  111833,   48383]))

In [15]:
df_1 = df_1.drop(df_1[df_1["SEX"] == 9].index)
df_1.reset_index(drop=True, inplace=True)

df_1 = df_1.drop(df_1[df_1["MARST"] == 9].index)
df_1.reset_index(drop=True, inplace=True)
df_1

,AGE,SEX,MARST,RACE,EDUC,EMPSTAT,INCTOT,VETSTAT,NCHILD,HCOVANY
0,3,1,6,1,6,3,10000,1,0,1
1,0,1,6,1,7,3,0,2,0,1
2,0,2,6,1,3,3,0,1,0,2
3,0,2,6,1,6,3,0,1,0,2
4,5,2,5,1,7,3,15000,1,0,2
...,...,...,...,...,...,...,...,...,...,...
2432318,7,1,1,1,6,3,32100,2,0,2
2432319,2,1,4,1,6,1,42100,1,3,2
2432320,1,2,6,1,10,1,47500,1,3,2
2432321,3,2,4,1,7,1,18500,1,1,2
2432322,6,1,4,1,7,3,51700,2,0,2

In [16]:
df_1["SEX"]   = df_1["SEX"] - df_1["SEX"].min()
print(np.unique(df_1[["SEX"]].values, return_counts=True))

df_1["MARST"] = df_1["MARST"] - df_1["MARST"].min()
print(np.unique(df_1[["MARST"]].values, return_counts=True))

(array([0, 1]), array([1173604, 1258719]))
(array([0, 1, 2, 3, 4, 5]), array([1313565,   58491,   43822,  289715,  171643,  555087]))

In [17]:
race_sets = [{1}, {2}, {3,4,5,6}, {7}, {8,9}]
for i in range(5):

    condition = (df_1["RACE"]).isin(race_sets[i])
    df_1.loc[condition, "RACE"] = int(i)
    
print(np.unique(df_1[["RACE"]].values, return_counts=True))

(array([0, 1, 2, 3, 4]), array([1910525,  229186,  160338,   80737,   51537]))

In [18]:
df_1 = df_1.drop(df_1[df_1["EDUC"] == 99].index)
df_1.reset_index(drop=True, inplace=True)
df_1

,AGE,SEX,MARST,RACE,EDUC,EMPSTAT,INCTOT,VETSTAT,NCHILD,HCOVANY
0,3,0,5,0,6,3,10000,1,0,1
1,0,0,5,0,7,3,0,2,0,1
2,0,1,5,0,3,3,0,1,0,2
3,0,1,5,0,6,3,0,1,0,2
4,5,1,4,0,7,3,15000,1,0,2
...,...,...,...,...,...,...,...,...,...,...
2432318,7,0,0,0,6,3,32100,2,0,2
2432319,2,0,3,0,6,1,42100,1,3,2
2432320,1,1,5,0,10,1,47500,1,3,2
2432321,3,1,3,0,7,1,18500,1,1,2
2432322,6,0,3,0,7,3,51700,2,0,2

In [19]:
edu_sets = [{0}, {1}, {2}, {3}, {4}, {5}, {6}, {7}, {8}, {9}, {10, 11}]
for i in range(11):

    condition = (df_1["EDUC"]).isin(edu_sets[i])
    df_1.loc[condition, "EDUC"] = int(i)

print(np.unique(df_1[["EDUC"]].values, return_counts=True))

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8, 10]), array([ 36913,  11870,  55975,  29366,  37140,  42267, 870888, 343087,
       210941, 793876]))

In [20]:
print(np.unique(df_1[["EMPSTAT"]].values, return_counts=True))
print(np.unique(df_1[["AGE"]], return_counts=True))

(array([1, 2, 3]), array([1431899,   59093,  941331]))
(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), array([379083, 311243, 294992, 335651, 285958, 274653, 229521, 188128,
       107239,  25855]))

In [21]:
df_1 = df_1.drop(df_1[df_1["EMPSTAT"] == 9].index)
df_1 = df_1.drop(df_1[df_1["EMPSTAT"] == 0].index)
df_1.reset_index(drop=True, inplace=True)

In [22]:
df_1["EMPSTAT"] = df_1["EMPSTAT"] - df_1["EMPSTAT"].min()
print(np.unique(df_1[["EMPSTAT"]].values, return_counts=True))

(array([0, 1, 2]), array([1431899,   59093,  941331]))

In [23]:
df_1 = df_1.drop(df_1[df_1["INCTOT"] == 9999999].index)
df_1 = df_1.drop(df_1[df_1["INCTOT"] == 9999998].index)
df_1.reset_index(drop=True, inplace=True)
df_1

,AGE,SEX,MARST,RACE,EDUC,EMPSTAT,INCTOT,VETSTAT,NCHILD,HCOVANY
0,3,0,5,0,6,2,10000,1,0,1
1,0,0,5,0,7,2,0,2,0,1
2,0,1,5,0,3,2,0,1,0,2
3,0,1,5,0,6,2,0,1,0,2
4,5,1,4,0,7,2,15000,1,0,2
...,...,...,...,...,...,...,...,...,...,...
2432318,7,0,0,0,6,2,32100,2,0,2
2432319,2,0,3,0,6,0,42100,1,3,2
2432320,1,1,5,0,10,0,47500,1,3,2
2432321,3,1,3,0,7,0,18500,1,1,2
2432322,6,0,3,0,7,2,51700,2,0,2

In [24]:
condition = df_1["INCTOT"]<0
df_1.loc[condition, "INCTOT"] = -1
condition = df_1["INCTOT"]>300000
df_1.loc[condition, "INCTOT"] = 300005
bins_inc = [-1000, 2000, 11000, 20000, 31000, 45000, 60000, 80000, 120000, 200000, df_1["INCTOT"].max()+1]
# plt.hist( df_1["INCTOT"].values, bins = bins_inc)
for i in range(10):

    condition = (df_1["INCTOT"]>bins_inc[i]) & (df_1["INCTOT"]<=bins_inc[i+1])
    df_1.loc[condition, "INCTOT"] = int(i)

print(np.unique(df_1[["INCTOT"]].values, return_counts=True))

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), array([278774, 307502, 353393, 339636, 338690, 263277, 205512, 185017,
       100845,  59677]))

In [25]:
df_1 = df_1.drop(df_1[df_1["VETSTAT"] == 0].index)
df_1 = df_1.drop(df_1[df_1["VETSTAT"] == 9].index)
df_1.reset_index(drop=True, inplace=True)
df_1

,AGE,SEX,MARST,RACE,EDUC,EMPSTAT,INCTOT,VETSTAT,NCHILD,HCOVANY
0,3,0,5,0,6,2,1,1,0,1
1,0,0,5,0,7,2,0,2,0,1
2,0,1,5,0,3,2,0,1,0,2
3,0,1,5,0,6,2,0,1,0,2
4,5,1,4,0,7,2,2,1,0,2
...,...,...,...,...,...,...,...,...,...,...
2432318,7,0,0,0,6,2,4,2,0,2
2432319,2,0,3,0,6,0,4,1,3,2
2432320,1,1,5,0,10,0,5,1,3,2
2432321,3,1,3,0,7,0,2,1,1,2
2432322,6,0,3,0,7,2,5,2,0,2

In [26]:
df_1["HCOVANY"] = df_1["HCOVANY"] - df_1["HCOVANY"].min()
print(np.unique(df_1[["HCOVANY"]].values, return_counts=True))

df_1["VETSTAT"] = df_1["VETSTAT"] - df_1["VETSTAT"].min()
print(np.unique(df_1[["VETSTAT"]].values, return_counts=True))

(array([0, 1]), array([ 206843, 2225480]))
(array([0, 1]), array([2229109,  203214]))

In [27]:
set_row = []
for row in df_1.columns:
    set_row.append(row)
    for col in df_1.columns:
        if row!=col:
            if (col in set_row)==False:
                print("###################################")
                print("###################################")
                print(pd.crosstab(df_1[row], df_1[col]))

###################################
###################################
SEX       0       1
AGE
0    193030  186053
1    155631  155612
2    146126  148866
3    164492  171159
4    137937  148021
5    130705  143948
6    108413  121108
7     85957  102171
8     43686   63553
9      7627   18228
###################################
###################################
MARST       0     1     2      3      4       5
AGE
0       88545  9307  3666   8007    421  269137
1      172367  8543  6713  23256   1016   99348
2      185964  7284  7986  36461   2330   54967
3      213173  7791  8714  54244   6099   45630
4      180143  6207  6440  49978  10978   32212
5      175094  5561  4745  46650  18510   24093
6      145175  4422  2941  35522  27037   14424
7      107766  4426  1740  24257  40860    9079
8       41572  3938   748   9685  46402    4894
9        3766  1012   129   1655  17990    1303
###################################
###################################
RACE       0      1      2      3      4
AGE
0     272796  41459  30206  19862  14760
1     230353  30687  25984  14905   9314
2     219160  29606  25000  13823   7403
3     260500  33046  23637  12089   6379
4     230563  27076  16482   7413   4424
5     225939  25251  14507   5266   3690
6     193396  18921  11081   3463   2660
7     161854  13930   8166   2350   1828
8      93413   7381   4274   1299    872
9      22551   1829   1001    267    207
###################################
###################################
EDUC    0     1     2     3     4     5       6      7      8       10
AGE
0     2938   673  3883  3517  4695  6661  128183  76370  33206  118957
1     3485  1008  5506  3821  4158  5164   91329  41854  29790  125128
2     4380  1249  6707  4044  3947  4761   90222  38391  28534  112757
3     5574  1430  7275  4122  4756  5376  117776  43095  31903  114344
4     4797  1306  5723  3233  4475  5086  111683  37562  27187   84906
5     4335  1421  5483  2750  3937  4252  105099  37768  25593   84015
6     3667  1391  5495  2357  3242  3457   85806  31461  18403   74242
7     3948  1619  6831  2795  4131  4006   80285  22755  10793   50965
8     2961  1358  6635  2072  2990  2719   48661  11389   4684   23770
9      828   415  2437   655   809   785   11844   2442    848    4792
###################################
###################################
EMPSTAT       0      1       2
AGE
0        283159  18360   77564
1        244612  10160   56471
2        234031   8494   52467
3        260257   8995   66399
4        197610   6605   81743
5        132224   3852  138577
6         53370   1750  174401
7         22004    735  165389
8          4245    126  102868
9           387     16   25452
###################################
###################################
INCTOT      0      1      2      3      4      5      6      7      8      9
AGE
0       66385  65627  60178  62106  54794  34316  19872  11463   3242   1100
1       44003  28416  30886  38624  48092  41559  32339  28662  13250   5412
2       38443  24627  28241  33388  41256  36865  31832  32547  18243   9550
3       40339  29642  33997  38037  45280  41184  35903  36699  21707  12863
4       36232  29198  32845  33657  38235  33202  28001  27581  16833  10174
5       26330  36476  41950  37588  37481  29554  23374  21168  12324   8408
6        9957  35955  46175  37129  32439  22389  17538  14005   8237   5697
7        8996  32757  42779  33945  25373  15602  11064   8663   4758   4191
8        6332  19937  28300  20316  13063   7245   4682   3578   1886   1900
9        1757   4867   8042   4846   2677   1361    907    651    365    382
###################################
###################################
VETSTAT       0      1
AGE
0        371601   7482
1        299650  11593
2        281992  13000
3        314127  21524
4        265223  20735
5        251175  23478
6        188162  41359
7        154226  33902
8         82591  24648
9         20362   5493
###################################
###################################
NCHILD       0      1      2      3      4
AGE
0       295627  40793  27736  10711   4216
1       131514  54784  72968  34637  17340
2        96104  57591  86811  37422  17064
3       159852  83411  64480  20594   7314
4       196724  59695  22617   5302   1620
5       219458  43020   9802   1844    529
6       195342  29069   4276    675    159
7       160847  23963   2826    402     90
8        88742  16555   1701    197     44
9        20787   4665    347     49      7
###################################
###################################
HCOVANY      0       1
AGE
0        56492  322591
1        42399  268844
2        35736  259256
3        33261  302390
4        22607  263351
5        13448  261205
6         1584  227937
7          832  187296
8          365  106874
9          119   25736
###################################
###################################
MARST       0      1      2       3       4       5
SEX
0      657031  31586  18467  124144   38682  303694
1      656534  26905  25355  165571  132961  251393
###################################
###################################
RACE       0       1      2      3      4
SEX
0     926640  107195  74300  40470  24999
1     983885  121991  86038  40267  26538
###################################
###################################
EDUC     0     1      2      3      4      5       6       7       8       10
SEX
0     17953  5687  27993  15753  19788  22335  432394  167230   91117  373354
1     18960  6183  27982  13613  17352  19932  438494  175857  119824  420522
###################################
###################################
EMPSTAT       0      1       2
SEX
0        748391  31231  393982
1        683508  27862  547349
###################################
###################################
INCTOT       0       1       2       3       4       5       6       7      8  \
SEX
0        99391  105964  139359  156890  172542  145886  120667  117233  71083
1       179383  201538  214034  182746  166148  117391   84845   67784  29762

INCTOT      9
SEX
0       44589
1       15088
###################################
###################################
VETSTAT        0       1
SEX
0         987367  186237
1        1241742   16977
###################################
###################################
NCHILD       0       1       2      3      4
SEX
0       792743  173678  133889  51271  22023
1       772254  239868  159675  60562  26360
###################################
###################################
HCOVANY       0        1
SEX
0        118757  1054847
1         88086  1170633
###################################
###################################
RACE         0      1      2      3      4
MARST
0      1092108  70732  92136  37023  21566
1        38182   8714   6476   3577   1542
2        28441   9079   2282   2783   1237
3       232808  32276  11227   7190   6214
4       140940  17293   8276   2963   2171
5       378046  91092  39941  27201  18807
###################################
###################################
EDUC      0     1      2      3      4      5       6       7       8       10
MARST
0      16036  5430  25775  12326  14666  16014  433682  167570  120047  502019
1       1673   597   2481   1297   1404   1527   22772    7716    4137   14887
2       1273   420   1969   1102   1299   1541   18579    6469    3508    7662
3       3565  1056   5804   3739   5227   5903  117249   44959   28402   73811
4       4567  1969   9477   3593   4969   4988   80334   20170   10571   31005
5       9799  2398  10469   7309   9575  12294  198272   96203   44276  164492
###################################
###################################
EMPSTAT       0      1       2
MARST
0        816263  19785  477517
1         28681   1766   28044
2         25277   1902   16643
3        162327   7950  119438
4         29642   1288  140713
5        369709  26402  158976
###################################
###################################
INCTOT       0       1       2       3       4       5       6       7      8  \
MARST
0       136061  131457  153631  162561  185377  159305  133628  129211  75652
1        11327    9640    9343    8168    6708    4466    3200    2924   1638
2         6115    8029    7755    6668    5679    3775    2455    1948    896
3        24096   36327   48383   44601   43834   33189   24645   20407   9558
4        11757   24260   44240   33807   23079   13237    8803    6753   3261
5        89418   97789   90041   83831   74013   49305   32781   23774   9840

INCTOT      9
MARST
0       46682
1        1077
2         502
3        4675
4        2446
5        4295
###################################
###################################
VETSTAT        0       1
MARST
0        1184880  128685
1          53193    5298
2          40447    3375
3         259457   30258
4         154379   17264
5         536753   18334
###################################
###################################
NCHILD       0       1       2      3      4
MARST
0       685028  266335  233576  90181  38445
1        46011    7597    3095   1204    584
2        26100    8737    5435   2372   1178
3       205562   51812   22358   7049   2934
4       128041   36177    5805   1227    393
5       474255   42888   23295   9800   4849
###################################
###################################
HCOVANY      0        1
MARST
0        69667  1243898
1         9236    49255
2         7494    36328
3        29570   260145
4         4754   166889
5        86122   468965
###################################
###################################
EDUC     0     1      2      3      4      5       6       7       8       10
RACE
0     21002  6991  37568  20190  26275  28329  689804  265829  171485  643052
1      4218   911   4838   3630   6128   8588   94515   39444   18660   48254
2      5901  1044   3909   1611   1993   1921   38381   18012   11336   76230
3      4880  2672   8561   3413   1976   2424   31301   10588    4728   10194
4       912   252   1099    522    768   1005   16887    9214    4732   16146
###################################
###################################
EMPSTAT        0      1       2
RACE
0        1121208  39903  749414
1         123134  10014   96038
2         100917   4429   54992
3          53282   2787   24668
4          33358   1960   16219
###################################
###################################
INCTOT       0       1       2       3       4       5       6       7      8  \
RACE
0       193339  226233  274383  266275  272688  216914  171474  153146  84076
1        36145   39462   38794   33795   30596   20393   13785   10474   4169
2        27297   22441   19125   18002   17097   14079   12406   15093   9884
3        14725   11839   13695   14313   11563    6810    3907    2683    860
4         7268    7527    7396    7251    6746    5081    3940    3621   1856

INCTOT      9
RACE
0       51997
1        1573
2        4914
3         342
4         851
###################################
###################################
VETSTAT        0       1
RACE
0        1737211  173314
1         210373   18813
2         155161    5177
3          78651    2086
4          47713    3824
###################################
###################################
NCHILD        0       1       2      3      4
RACE
0       1255820  312232  222625  83882  35966
1        150795   41339   22810   9585   4657
2         86394   35595   27461   7924   2964
3         40051   15657   13902   7646   3481
4         31937    8723    6766   2796   1315
###################################
###################################
HCOVANY       0        1
RACE
0        139839  1770686
1         29398   199788
2         13660   146678
3         18246    62491
4          5700    45837
###################################
###################################
EMPSTAT       0      1       2
EDUC
0         13685    911   22317
1          4309    225    7336
2         19758   1151   35066
3         10836    929   17601
4         12563   1255   23322
5         15158   1800   25309
6        449833  24510  396545
7        206252   9221  127614
8        140900   4686   65355
10       558605  14405  220866
###################################
###################################
INCTOT       0       1       2       3       4       5       6       7      8  \
EDUC
0         8358    9623    7743    4783    3159    1624     781     490    166
1         2368    3290    2790    1660     962     431     198     102     38
2        10805   13759   13381    8636    5055    2210    1072     640    218
3         6739    6751    6443    4374    2614    1238     629     368    112
4         8006    8745    8182    5425    3510    1604     851     493    174
5         9226    9673    9069    6226    3965    2040    1090     614    220
6       113802  134604  163128  150346  130331   81717   49597   31215  10367
7        42136   46707   52748   54156   53164   36938   26149   19751   7766
8        19736   21650   28533   32308   36162   28349   21596   15634   5114
10       57598   52700   61376   71722   99768  107126  103549  115710  76670

INCTOT      9
EDUC
0         186
1          31
2         199
3          98
4         150
5         144
6        5781
7        3572
8        1859
10      47657
###################################
###################################
VETSTAT       0      1
EDUC
0         35660   1253
1         11594    276
2         53533   2442
3         28003   1363
4         35117   2023
5         40258   2009
6        791905  78983
7        307915  35172
8        190134  20807
10       734990  58886
###################################
###################################
NCHILD       0       1       2      3      4
EDUC
0        20778    8260    4435   2223   1217
1         6155    2828    1460    892    535
2        31461   11170    6630   3794   2920
3        17727    4967    3377   2078   1217
4        25304    6016    3225   1637    958
5        28390    6920    3708   2054   1195
6       584637  148751   86496  34955  16049
7       228896   54906   37689  15060   6536
8       128679   38791   28575  10651   4245
10      492970  130937  117969  38489  13511
###################################
###################################
HCOVANY      0       1
EDUC
0         5967   30946
1         2560    9310
2        12736   43239
3         7191   22175
4         6978   30162
5         7946   34321
6        94322  776566
7        29375  313712
8        13467  197474
10       26301  767575
###################################
###################################
INCTOT        0       1       2       3       4       5       6       7  \
EMPSTAT
0         18666  103369  160033  216584  252394  211212  170484  161092
1         22618   13743    8027    5310    3692    2165    1456    1137
2        237490  190390  185333  117742   82604   49900   33572   22788

INCTOT       8      9
EMPSTAT
0        88582  49483
1          611    334
2        11652   9860
###################################
###################################
VETSTAT        0       1
EMPSTAT
0        1349341   82558
1          55826    3267
2         823942  117389
###################################
###################################
NCHILD        0       1       2      3      4
EMPSTAT
0        808677  270733  232306  85737  34446
1         38417    9205    6853   3022   1596
2        717903  133608   54405  23074  12341
###################################
###################################
HCOVANY       0        1
EMPSTAT
0        119500  1312399
1         14414    44679
2         72929   868402
###################################
###################################
VETSTAT       0      1
INCTOT
0        269295   9479
1        293892  13610
2        326260  27133
3        308452  31184
4        304937  33753
5        235424  27853
6        182809  22703
7        164548  20469
8         89481  11364
9         54011   5666
###################################
###################################
NCHILD       0      1      2      3      4
INCTOT
0       170786  44249  35705  17932  10102
1       222618  45799  24111  10089   4885
2       252779  55553  28333  11415   5313
3       230280  56359  33713  13393   5891
4       217201  59341  40496  15373   6279
5       160845  48287  36437  12798   4910
6       121262  38313  31515  10513   3909
7       102230  35938  32722  10346   3781
8        53949  19415  19481   5975   2025
9        33047  10292  11051   3999   1288
###################################
###################################
HCOVANY      0       1
INCTOT
0        62944  215830
1        30071  277431
2        34830  318563
3        32127  307509
4        22504  316186
5        11679  251598
6         6167  199345
7         3896  181121
8         1625   99220
9         1000   58677
###################################
###################################
NCHILD         0       1       2       3      4
VETSTAT
0        1411796  384292  279506  107037  46478
1         153201   29254   14058    4796   1905
###################################
###################################
HCOVANY       0        1
VETSTAT
0        201798  2027311
1          5045   198169
###################################
###################################
HCOVANY       0        1
NCHILD
0        131465  1433532
1         30669   382877
2         24312   269252
3         12861    98972
4          7536    40847

In [30]:
import tensorflow as tf

In [31]:
n_j = np.zeros(len(df_1.columns))
for index in range(len(df_1.columns)):

    n_j[index] = df_1[df_1.columns[index]].max()
    
n_j = tf.convert_to_tensor(n_j+1, dtype = tf.float32)
max_categ = tf.expand_dims(tf.cast(tf.linspace(0, int(tf.reduce_max(n_j)) - 1, int(tf.reduce_max(n_j))), dtype = tf.float32), axis = 0)*tf.ones((tf.shape(n_j)[0], int(tf.reduce_max(n_j))))
ones_condition = max_categ<tf.expand_dims(n_j, axis = -1)*tf.ones((tf.shape(n_j)[0], int(tf.reduce_max(n_j))))

one_n_j = tf.where(ones_condition, tf.ones(tf.shape(ones_condition)), tf.zeros(tf.shape(ones_condition)))

In [32]:
# X_ij_complete = df_1.values
# np.save("data/US/preprocessed/US_one_n_j.npy", one_n_j)
# np.save("data/US/preprocessed/US_X_ij_full.npy", X_ij_complete)

# # Shuffle the indices of the data
# indices = np.arange(X_ij_complete.shape[0])
# np.random.seed(42)
# np.random.shuffle(indices)
# np.save("data/US/preprocessed/US_indices.npy", indices)

In [33]:
# X_ij_complete_shuffled = X_ij_complete[indices,:]

# n = 1000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/US/preprocessed/US_X_ij_1000.npy", X_ij_included)

# n = 5000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/US/preprocessed/US_X_ij_5000.npy", X_ij_included)

# n = 10000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/US/preprocessed/US_X_ij_10000.npy", X_ij_included)

# US data

In [79]:
# choice 3 keep nr child as it is
# choice 4 collapse nr child to >4
# choice 5 collapse nr child to >3, marst to married, separated, single, race 7,8,9 together, educ 0,1,2 together
# preprocessed is the final version

In [80]:
import pandas as pd

In [85]:
df = pd.read_csv("data/US/raw/usa_00002.csv")
# df_2 = pd.read_csv("data/US/raw/usa_00003.csv")

df = df[["NCHILD", "AGE", "SEX", "MARST", "RACE", "EDUC", "EMPSTAT", "INCTOT", "HCOVANY", "VETSTAT"]]

In [86]:
df_1 = df.loc[df["AGE"]>=21].copy()
print(np.unique(df_1[["AGE"]].values))

[21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44
 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68
 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92
 93 94 95 96]

In [87]:
condition = (df_1["NCHILD"]>=4)
df_1.loc[condition, "NCHILD"] = int(4)

np.unique(df_1[["NCHILD"]].values, return_counts=True)

(array([0, 1, 2, 3, 4]), array([1564997,  413546,  293564,  111833,   48383]))

In [88]:
bins_age = [0, 30, 38, 46, 54, 60, 66, 72, 80, 90, 100]
for i in range(10):

    condition = (df_1["AGE"]>bins_age[i]) & (df_1["AGE"]<=bins_age[i+1])
    df_1.loc[condition, "AGE"] = int(i)

print(np.unique(df_1[["AGE"]], return_counts=True))

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), array([379083, 311243, 294992, 335651, 285958, 274653, 229521, 188128,
       107239,  25855]))

In [89]:
df_1["SEX"]   = df_1["SEX"] - df_1["SEX"].min()
print(np.unique(df_1[["SEX"]].values, return_counts=True))

df_1["MARST"] = df_1["MARST"] - df_1["MARST"].min()
print(np.unique(df_1[["MARST"]].values, return_counts=True))

(array([0, 1]), array([1173604, 1258719]))
(array([0, 1, 2, 3, 4, 5]), array([1313565,   58491,   43822,  289715,  171643,  555087]))

In [90]:
race_sets = [{1}, {2}, {3,4,5,6}, {7}, {8,9}]
for i in range(5):

    condition = (df_1["RACE"]).isin(race_sets[i])
    df_1.loc[condition, "RACE"] = int(i)
    
print(np.unique(df_1[["RACE"]].values, return_counts=True))

(array([0, 1, 2, 3, 4]), array([1910525,  229186,  160338,   80737,   51537]))

In [91]:
edu_sets = [{0, 1}, {2}, {3, 4, 5, 6}, {7, 8, 9, 10}, {11}]
for i in range(5):

    condition = (df_1["EDUC"]).isin(edu_sets[i])
    df_1.loc[condition, "EDUC"] = int(i)

print(np.unique(df_1[["EDUC"]].values, return_counts=True))

(array([0, 1, 2, 3, 4]), array([  48783,   55975,  979661, 1040121,  307783]))

In [92]:
df_1["EMPSTAT"] = df_1["EMPSTAT"] - df_1["EMPSTAT"].min()
print(np.unique(df_1[["EMPSTAT"]].values, return_counts=True))

(array([0, 1, 2]), array([1431899,   59093,  941331]))

In [93]:
condition = df_1["INCTOT"]<0
df_1.loc[condition, "INCTOT"] = -1
condition = df_1["INCTOT"]>300000
df_1.loc[condition, "INCTOT"] = 300005
bins_inc = [-1000, 2000, 11000, 20000, 31000, 45000, 60000, 80000, 120000, 200000, df_1["INCTOT"].max()+1]
# plt.hist( df_1["INCTOT"].values, bins = bins_inc)
for i in range(10):

    condition = (df_1["INCTOT"]>bins_inc[i]) & (df_1["INCTOT"]<=bins_inc[i+1])
    df_1.loc[condition, "INCTOT"] = int(i)

print(np.unique(df_1[["INCTOT"]].values, return_counts=True))

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), array([278774, 307502, 353393, 339636, 338690, 263277, 205512, 185017,
       100845,  59677]))

In [94]:
df_1["HCOVANY"] = df_1["HCOVANY"] - df_1["HCOVANY"].min()
print(np.unique(df_1[["HCOVANY"]].values, return_counts=True))

df_1["VETSTAT"] = df_1["VETSTAT"] - df_1["VETSTAT"].min()
print(np.unique(df_1[["VETSTAT"]].values, return_counts=True))

(array([0, 1]), array([ 206843, 2225480]))
(array([0, 1]), array([2229109,  203214]))

In [95]:
n_j = np.zeros(len(df_1.columns))
for index in range(len(df_1.columns)):

    n_j[index] = df_1[df_1.columns[index]].max()
    
n_j = tf.convert_to_tensor(n_j+1, dtype = tf.float32)
max_categ = tf.expand_dims(tf.cast(tf.linspace(0, int(tf.reduce_max(n_j)) - 1, int(tf.reduce_max(n_j))), dtype = tf.float32), axis = 0)*tf.ones((tf.shape(n_j)[0], int(tf.reduce_max(n_j))))
ones_condition = max_categ<tf.expand_dims(n_j, axis = -1)*tf.ones((tf.shape(n_j)[0], int(tf.reduce_max(n_j))))

one_n_j = tf.where(ones_condition, tf.ones(tf.shape(ones_condition)), tf.zeros(tf.shape(ones_condition)))

In [98]:
# X_ij_complete = df_1.values
# np.save("data/US/preprocessed/US_one_n_j.npy", one_n_j)
# np.save("data/US/preprocessed/US_X_ij_full.npy", X_ij_complete)

# # Shuffle the indices of the data
# indices = np.arange(X_ij_complete.shape[0])
# np.random.seed(42)
# np.random.shuffle(indices)
# np.save("data/US/preprocessed/US_indices.npy", indices)

In [99]:
# X_ij_complete_shuffled = X_ij_complete[indices,:]

# n = 1000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/US/preprocessed/US_X_ij_1000.npy", X_ij_included)

# n = 5000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/US/preprocessed/US_X_ij_5000.npy", X_ij_included)

# n = 10000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/US/preprocessed/US_X_ij_10000.npy", X_ij_included)

In [164]:
one_n_j = np.load("data/US/choice_4/US_one_n_j.npy")

indeces   = np.load("data/US/choice_4/US_indices.npy")
X_ij_full = np.load("data/US/choice_4/US_X_ij_full.npy")[indeces,:]

X_ij_1000  = np.load("data/US/choice_4/US_X_ij_1000.npy")
X_ij_5000  = np.load("data/US/choice_4/US_X_ij_5000.npy")
X_ij_10000 = np.load("data/US/choice_4/US_X_ij_10000.npy")

In [165]:
for i in range(10):
    unique_values, freq = np.unique(X_ij_full[:,i], return_counts=True)
    print(freq)

[1564997  413546  293564  111833   48383]
[379083 311243 294992 335651 285958 274653 229521 188128 107239  25855]
[1173604 1258719]
[1313565   58491   43822  289715  171643  555087]
[1910525  229186  160338   80737   51537]
[  48783   55975  979661 1040121  307783]
[1431899   59093  941331]
[278774 307502 353393 339636 338690 263277 205512 185017 100845  59677]
[ 206843 2225480]
[2229109  203214]

In [166]:
os.chdir("scripts/")
%run -i mixed_membership_model.py
%run -i Manrique_Vallier.py
os.chdir("../")

In [167]:
N = 1150934
J = tf.shape(one_n_j)[0]
batch_size = 2048

n = 1000
tau_in_data_1000 = step_tau_with_data(X_ij_1000, one_n_j, X_ij_full[n:N,:], batch_size, N)
print(r"n=1000 with $\tau$: ", tau_in_data_1000.numpy())

n = 5000
tau_in_data_5000 = step_tau_with_data(X_ij_5000, one_n_j, X_ij_full[n:N,:], batch_size, N)
print(r"n=5000 with $\tau$: ", tau_in_data_5000.numpy())

n = 10000
tau_in_data_10000 = step_tau_with_data(X_ij_10000, one_n_j, X_ij_full[n:N,:], batch_size, N)
print(r"n=10000 with $\tau$: ", tau_in_data_10000.numpy())

n=1000 with $\tau$:  41.0
n=5000 with $\tau$:  182.0
n=10000 with $\tau$:  372.0

In [168]:
34.24/2 + 450 + 90/2 + (100+47)/2

585.62