In [1]:
import os
import numpy as np

import pandas as pd

import tensorflow as tf
import tensorflow_probability as tfp

import matplotlib.pyplot as plt
from tabulate import tabulate

2024-08-20 17:20:23.781066: I tensorflow/core/util/port.cc:111] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-08-20 17:20:26.139969: E tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:9342] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-08-20 17:20:26.140007: E tensorflow/compiler/xla/stream_executor/cuda/cuda_fft.cc:609] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-08-20 17:20:26.146720: E tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:1518] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-08-20 17:20:26.898571: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-08-20 17:20:29.529659: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

# New York data: with structural zeros

Load the clean dataframe

In [2]:
df = pd.read_csv("data/NY_dataframe.csv")

In [3]:
df.head()

,OWNERSHP,MORTGAGE,AGE,SEX,MARST,RACESING,EDUC,EMPSTAT,DISABWRK,VETSTAT
0,1,1,6,1,2,0,9,1,1,2
1,1,1,4,1,5,0,5,3,1,1
2,1,1,3,1,5,0,4,3,1,1
3,1,2,7,0,0,0,9,1,1,2
4,1,2,7,1,0,0,8,1,1,1

In [4]:
set_row = []
for row in df.columns:
	set_row.append(row)
	for col in df.columns:
		if row!=col:
			if (col in set_row)==False:
				tab = pd.crosstab( index=df[row], columns=df[col])
				print(tab.to_latex())

\begin{tabular}{lrrrr}
\toprule
MORTGAGE & 0 & 1 & 2 & 3 \\
OWNERSHP &  &  &  &  \\
\midrule
0 & 29039 & 0 & 0 & 0 \\
1 & 0 & 162251 & 406049 & 3622 \\
2 & 352115 & 0 & 0 & 0 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrr}
\toprule
AGE & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 \\
OWNERSHP &  &  &  &  &  &  &  &  &  \\
\midrule
0 & 734 & 116 & 219 & 224 & 9584 & 3881 & 4438 & 2762 & 7081 \\
1 & 117956 & 8604 & 8423 & 8622 & 34220 & 67427 & 142876 & 128297 & 55497 \\
2 & 82372 & 4572 & 4451 & 4609 & 38736 & 73798 & 72579 & 46603 & 24395 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
SEX & 0 & 1 \\
OWNERSHP &  &  \\
\midrule
0 & 16233 & 12806 \\
1 & 277865 & 294057 \\
2 & 165171 & 186944 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrr}
\toprule
MARST & 0 & 1 & 2 & 3 & 4 & 5 \\
OWNERSHP &  &  &  &  &  &  \\
\midrule
0 & 0 & 10157 & 765 & 991 & 3289 & 13837 \\
1 & 271998 & 6867 & 7899 & 30491 & 32599 & 222068 \\
2 & 89146 & 10723 & 14335 & 27881 & 19246 & 190784 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrr}
\toprule
RACESING & 0 & 1 & 2 & 3 & 4 \\
OWNERSHP &  &  &  &  &  \\
\midrule
0 & 20655 & 7187 & 130 & 1025 & 42 \\
1 & 497117 & 47547 & 2435 & 23214 & 1609 \\
2 & 245312 & 78165 & 2842 & 24175 & 1621 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrrrr}
\toprule
EDUC & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 \\
OWNERSHP &  &  &  &  &  &  &  &  &  &  &  \\
\midrule
0 & 1629 & 631 & 3311 & 1783 & 2178 & 1793 & 9648 & 5115 & 725 & 1142 & 1084 \\
1 & 39988 & 49156 & 50888 & 15601 & 17960 & 16839 & 174109 & 53828 & 35638 & 66260 & 51655 \\
2 & 39019 & 32824 & 38742 & 13436 & 13896 & 13648 & 100338 & 30842 & 14985 & 34271 & 20114 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrr}
\toprule
EMPSTAT & 0 & 1 & 2 & 3 \\
OWNERSHP &  &  &  &  \\
\midrule
0 & 850 & 4190 & 3769 & 20230 \\
1 & 126560 & 270929 & 12020 & 162413 \\
2 & 86944 & 144798 & 14651 & 105722 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
DISABWRK & 0 & 1 & 2 \\
OWNERSHP &  &  &  \\
\midrule
0 & 850 & 18571 & 9618 \\
1 & 126560 & 395214 & 50148 \\
2 & 86944 & 220267 & 44904 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
VETSTAT & 0 & 1 & 2 \\
OWNERSHP &  &  &  \\
\midrule
0 & 1069 & 26123 & 1847 \\
1 & 134983 & 380742 & 56197 \\
2 & 91395 & 244102 & 16618 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrr}
\toprule
AGE & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 \\
MORTGAGE &  &  &  &  &  &  &  &  &  \\
\midrule
0 & 83106 & 4688 & 4670 & 4833 & 48320 & 77679 & 77017 & 49365 & 31476 \\
1 & 15542 & 1325 & 1458 & 1511 & 7272 & 12186 & 26204 & 54973 & 41780 \\
2 & 101378 & 7212 & 6901 & 7048 & 26675 & 54572 & 115769 & 72879 & 13615 \\
3 & 1036 & 67 & 64 & 63 & 273 & 669 & 903 & 445 & 102 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
SEX & 0 & 1 \\
MORTGAGE &  &  \\
\midrule
0 & 181404 & 199750 \\
1 & 75506 & 86745 \\
2 & 200494 & 205555 \\
3 & 1865 & 1757 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrr}
\toprule
MARST & 0 & 1 & 2 & 3 & 4 & 5 \\
MORTGAGE &  &  &  &  &  &  \\
\midrule
0 & 89146 & 20880 & 15100 & 28872 & 22535 & 204621 \\
1 & 80808 & 2216 & 2441 & 10411 & 21695 & 44680 \\
2 & 189832 & 4570 & 5370 & 19825 & 10823 & 175629 \\
3 & 1358 & 81 & 88 & 255 & 81 & 1759 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrr}
\toprule
RACESING & 0 & 1 & 2 & 3 & 4 \\
MORTGAGE &  &  &  &  &  \\
\midrule
0 & 265967 & 85352 & 2972 & 25200 & 1663 \\
1 & 148149 & 8729 & 842 & 4271 & 260 \\
2 & 345913 & 38521 & 1528 & 18755 & 1332 \\
3 & 3055 & 297 & 65 & 188 & 17 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrrrr}
\toprule
EDUC & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 \\
MORTGAGE &  &  &  &  &  &  &  &  &  &  &  \\
\midrule
0 & 40648 & 33455 & 42053 & 15219 & 16074 & 15441 & 109986 & 35957 & 15710 & 35413 & 21198 \\
1 & 5806 & 6604 & 13442 & 4935 & 6321 & 5698 & 65012 & 15323 & 8400 & 17001 & 13709 \\
2 & 33779 & 42148 & 37012 & 10519 & 11464 & 11000 & 107948 & 38227 & 27046 & 49071 & 37835 \\
3 & 403 & 404 & 434 & 147 & 175 & 141 & 1149 & 278 & 192 & 188 & 111 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrr}
\toprule
EMPSTAT & 0 & 1 & 2 & 3 \\
MORTGAGE &  &  &  &  \\
\midrule
0 & 87794 & 148988 & 18420 & 125952 \\
1 & 16867 & 60531 & 3444 & 81409 \\
2 & 108590 & 208889 & 8440 & 80130 \\
3 & 1103 & 1509 & 136 & 874 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
DISABWRK & 0 & 1 & 2 \\
MORTGAGE &  &  &  \\
\midrule
0 & 87794 & 238838 & 54522 \\
1 & 16867 & 126573 & 18811 \\
2 & 108590 & 266537 & 30922 \\
3 & 1103 & 2104 & 415 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
VETSTAT & 0 & 1 & 2 \\
MORTGAGE &  &  &  \\
\midrule
0 & 92464 & 270225 & 18465 \\
1 & 18325 & 117189 & 26737 \\
2 & 115491 & 261369 & 29189 \\
3 & 1167 & 2184 & 271 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
SEX & 0 & 1 \\
AGE &  &  \\
\midrule
0 & 103138 & 97924 \\
1 & 6770 & 6522 \\
2 & 6700 & 6393 \\
3 & 6868 & 6587 \\
4 & 41736 & 40804 \\
5 & 70628 & 74478 \\
6 & 107208 & 112685 \\
7 & 83139 & 94523 \\
8 & 33082 & 53891 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrr}
\toprule
MARST & 0 & 1 & 2 & 3 & 4 & 5 \\
AGE &  &  &  &  &  &  \\
\midrule
0 & 0 & 0 & 0 & 0 & 0 & 201062 \\
1 & 11 & 133 & 19 & 4 & 7 & 13118 \\
2 & 25 & 191 & 21 & 4 & 10 & 12842 \\
3 & 39 & 205 & 25 & 10 & 5 & 13171 \\
4 & 6549 & 4314 & 791 & 413 & 225 & 70248 \\
5 & 66700 & 6321 & 4950 & 7622 & 460 & 59053 \\
6 & 138121 & 7255 & 9897 & 25340 & 2995 & 36285 \\
7 & 113935 & 4851 & 6019 & 21645 & 16338 & 14874 \\
8 & 35764 & 4477 & 1277 & 4325 & 35094 & 6036 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrr}
\toprule
RACESING & 0 & 1 & 2 & 3 & 4 \\
AGE &  &  &  &  &  \\
\midrule
0 & 154554 & 34499 & 1492 & 9544 & 973 \\
1 & 10291 & 2213 & 87 & 646 & 55 \\
2 & 10149 & 2116 & 91 & 691 & 46 \\
3 & 10418 & 2237 & 80 & 672 & 48 \\
4 & 62734 & 13436 & 564 & 5439 & 367 \\
5 & 112269 & 21430 & 914 & 9953 & 540 \\
6 & 177193 & 28669 & 1216 & 12078 & 737 \\
7 & 148166 & 20861 & 736 & 7517 & 382 \\
8 & 77310 & 7438 & 227 & 1874 & 124 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrrrr}
\toprule
EDUC & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 \\
AGE &  &  &  &  &  &  &  &  &  &  &  \\
\midrule
0 & 69386 & 77787 & 51360 & 2180 & 298 & 50 & 1 & 0 & 0 & 0 & 0 \\
1 & 36 & 12 & 5016 & 6070 & 1867 & 176 & 115 & 0 & 0 & 0 & 0 \\
2 & 44 & 6 & 933 & 4159 & 5774 & 1807 & 330 & 33 & 7 & 0 & 0 \\
3 & 51 & 17 & 448 & 963 & 4157 & 5565 & 2178 & 73 & 3 & 0 & 0 \\
4 & 754 & 268 & 2085 & 2011 & 3189 & 6908 & 34299 & 19418 & 4507 & 8339 & 762 \\
5 & 1673 & 507 & 4022 & 2857 & 3639 & 3966 & 50900 & 18474 & 13830 & 29715 & 15523 \\
6 & 2846 & 944 & 6466 & 3943 & 4822 & 5220 & 84127 & 27168 & 21237 & 35888 & 27232 \\
7 & 3444 & 1764 & 10976 & 4872 & 5860 & 5098 & 73838 & 17735 & 9791 & 21102 & 23182 \\
8 & 2402 & 1306 & 11635 & 3765 & 4428 & 3490 & 38307 & 6884 & 1973 & 6629 & 6154 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrr}
\toprule
EMPSTAT & 0 & 1 & 2 & 3 \\
AGE &  &  &  &  \\
\midrule
0 & 201062 & 0 & 0 & 0 \\
1 & 13292 & 0 & 0 & 0 \\
2 & 0 & 2391 & 831 & 9871 \\
3 & 0 & 3888 & 983 & 8584 \\
4 & 0 & 45354 & 8529 & 28657 \\
5 & 0 & 104716 & 6975 & 33415 \\
6 & 0 & 164593 & 8242 & 47058 \\
7 & 0 & 92399 & 4299 & 80964 \\
8 & 0 & 6576 & 581 & 79816 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
DISABWRK & 0 & 1 & 2 \\
AGE &  &  &  \\
\midrule
0 & 201062 & 0 & 0 \\
1 & 13292 & 0 & 0 \\
2 & 0 & 12417 & 676 \\
3 & 0 & 12635 & 820 \\
4 & 0 & 74660 & 7880 \\
5 & 0 & 127214 & 17892 \\
6 & 0 & 189729 & 30164 \\
7 & 0 & 151044 & 26618 \\
8 & 0 & 66353 & 20620 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
VETSTAT & 0 & 1 & 2 \\
AGE &  &  &  \\
\midrule
0 & 201062 & 0 & 0 \\
1 & 13292 & 0 & 0 \\
2 & 13093 & 0 & 0 \\
3 & 0 & 13445 & 10 \\
4 & 0 & 81741 & 799 \\
5 & 0 & 139977 & 5129 \\
6 & 0 & 205808 & 14085 \\
7 & 0 & 143825 & 33837 \\
8 & 0 & 66171 & 20802 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrr}
\toprule
MARST & 0 & 1 & 2 & 3 & 4 & 5 \\
SEX &  &  &  &  &  &  \\
\midrule
0 & 180572 & 15077 & 9153 & 23932 & 10094 & 220441 \\
1 & 180572 & 12670 & 13846 & 35431 & 45040 & 206248 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrr}
\toprule
RACESING & 0 & 1 & 2 & 3 & 4 \\
SEX &  &  &  &  &  \\
\midrule
0 & 369722 & 61372 & 2642 & 23965 & 1568 \\
1 & 393362 & 71527 & 2765 & 24449 & 1704 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrrrr}
\toprule
EDUC & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 \\
SEX &  &  &  &  &  &  &  &  &  &  &  \\
\midrule
0 & 40876 & 42136 & 46705 & 15707 & 17367 & 15996 & 131525 & 42796 & 21702 & 48975 & 35484 \\
1 & 39760 & 40475 & 46236 & 15113 & 16667 & 16284 & 152570 & 46989 & 29646 & 52698 & 37369 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrr}
\toprule
EMPSTAT & 0 & 1 & 2 & 3 \\
SEX &  &  &  &  \\
\midrule
0 & 109908 & 219528 & 16257 & 113576 \\
1 & 104446 & 200389 & 14183 & 174789 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
DISABWRK & 0 & 1 & 2 \\
SEX &  &  &  \\
\midrule
0 & 109908 & 298874 & 50487 \\
1 & 104446 & 335178 & 54183 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
VETSTAT & 0 & 1 & 2 \\
SEX &  &  &  \\
\midrule
0 & 116608 & 271589 & 71072 \\
1 & 110839 & 379378 & 3590 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrr}
\toprule
RACESING & 0 & 1 & 2 & 3 & 4 \\
MARST &  &  &  &  &  \\
\midrule
0 & 310708 & 27298 & 1413 & 20659 & 1066 \\
1 & 18207 & 6386 & 201 & 2836 & 117 \\
2 & 15871 & 6302 & 203 & 545 & 78 \\
3 & 49102 & 8506 & 443 & 1169 & 143 \\
4 & 46497 & 6844 & 215 & 1465 & 113 \\
5 & 322699 & 77563 & 2932 & 21740 & 1755 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrrrr}
\toprule
EDUC & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 \\
MARST &  &  &  &  &  &  &  &  &  &  &  \\
\midrule
0 & 3771 & 1882 & 14597 & 6879 & 8753 & 8196 & 143263 & 41206 & 29536 & 56412 & 46649 \\
1 & 1176 & 479 & 2931 & 1346 & 1582 & 1413 & 10564 & 3102 & 1142 & 2330 & 1682 \\
2 & 531 & 259 & 1656 & 906 & 1013 & 1083 & 9918 & 2757 & 1599 & 1952 & 1325 \\
3 & 704 & 333 & 2612 & 1388 & 1803 & 1711 & 24813 & 7824 & 5052 & 7147 & 5976 \\
4 & 1567 & 803 & 7292 & 2558 & 2916 & 2408 & 25173 & 4261 & 1693 & 3583 & 2880 \\
5 & 72887 & 78855 & 63853 & 17743 & 17967 & 17469 & 70364 & 30635 & 12326 & 30249 & 14341 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrr}
\toprule
EMPSTAT & 0 & 1 & 2 & 3 \\
MARST &  &  &  &  \\
\midrule
0 & 11 & 228223 & 8213 & 124697 \\
1 & 133 & 10620 & 3512 & 13482 \\
2 & 19 & 13120 & 1471 & 8389 \\
3 & 4 & 38066 & 2445 & 18848 \\
4 & 7 & 9131 & 769 & 45227 \\
5 & 214180 & 120757 & 14030 & 77722 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
DISABWRK & 0 & 1 & 2 \\
MARST &  &  &  \\
\midrule
0 & 11 & 319302 & 41831 \\
1 & 133 & 20284 & 7330 \\
2 & 19 & 18505 & 4475 \\
3 & 4 & 49104 & 10255 \\
4 & 7 & 41710 & 13417 \\
5 & 214180 & 185147 & 27362 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
VETSTAT & 0 & 1 & 2 \\
MARST &  &  &  \\
\midrule
0 & 36 & 311339 & 49769 \\
1 & 324 & 25356 & 2067 \\
2 & 40 & 20807 & 2152 \\
3 & 8 & 51779 & 7576 \\
4 & 17 & 49628 & 5489 \\
5 & 227022 & 192058 & 7609 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrrrr}
\toprule
EDUC & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 \\
RACESING &  &  &  &  &  &  &  &  &  &  &  \\
\midrule
0 & 60580 & 63774 & 72235 & 23559 & 25801 & 23910 & 231307 & 71924 & 43330 & 84020 & 62644 \\
1 & 13656 & 13897 & 14367 & 5297 & 6298 & 6981 & 40052 & 13214 & 5884 & 8640 & 4613 \\
2 & 668 & 577 & 758 & 260 & 266 & 234 & 1465 & 466 & 228 & 300 & 185 \\
3 & 5276 & 3983 & 5161 & 1603 & 1572 & 1059 & 10315 & 3951 & 1783 & 8438 & 5273 \\
4 & 456 & 380 & 420 & 101 & 97 & 96 & 956 & 230 & 123 & 275 & 138 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrr}
\toprule
EMPSTAT & 0 & 1 & 2 & 3 \\
RACESING &  &  &  &  \\
\midrule
0 & 164845 & 347184 & 21558 & 229497 \\
1 & 36712 & 47687 & 7005 & 41495 \\
2 & 1579 & 1948 & 278 & 1602 \\
3 & 10190 & 21868 & 1493 & 14863 \\
4 & 1028 & 1230 & 106 & 908 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
DISABWRK & 0 & 1 & 2 \\
RACESING &  &  &  \\
\midrule
0 & 164845 & 518759 & 79480 \\
1 & 36712 & 78138 & 18049 \\
2 & 1579 & 3160 & 668 \\
3 & 10190 & 32178 & 6046 \\
4 & 1028 & 1817 & 427 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
VETSTAT & 0 & 1 & 2 \\
RACESING &  &  &  \\
\midrule
0 & 174994 & 520777 & 67313 \\
1 & 38828 & 87721 & 6350 \\
2 & 1670 & 3403 & 334 \\
3 & 10881 & 36928 & 605 \\
4 & 1074 & 2138 & 60 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrr}
\toprule
EMPSTAT & 0 & 1 & 2 & 3 \\
EDUC &  &  &  &  \\
\midrule
0 & 69422 & 2857 & 676 & 7681 \\
1 & 77799 & 1332 & 192 & 3288 \\
2 & 56376 & 9779 & 1481 & 25305 \\
3 & 8250 & 6192 & 1323 & 15055 \\
4 & 2165 & 9579 & 2138 & 20152 \\
5 & 226 & 11297 & 2232 & 18525 \\
6 & 116 & 152166 & 13210 & 118603 \\
7 & 0 & 56955 & 4075 & 28755 \\
8 & 0 & 38177 & 1555 & 11616 \\
9 & 0 & 75355 & 2418 & 23900 \\
10 & 0 & 56228 & 1140 & 15485 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
DISABWRK & 0 & 1 & 2 \\
EDUC &  &  &  \\
\midrule
0 & 69422 & 7804 & 3410 \\
1 & 77799 & 3446 & 1366 \\
2 & 56376 & 27529 & 9036 \\
3 & 8250 & 18610 & 3960 \\
4 & 2165 & 27016 & 4853 \\
5 & 226 & 27464 & 4590 \\
6 & 116 & 239446 & 44533 \\
7 & 0 & 78785 & 11000 \\
8 & 0 & 45430 & 5918 \\
9 & 0 & 91991 & 9682 \\
10 & 0 & 66531 & 6322 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
VETSTAT & 0 & 1 & 2 \\
EDUC &  &  &  \\
\midrule
0 & 69466 & 10773 & 397 \\
1 & 77805 & 4628 & 178 \\
2 & 57309 & 32693 & 2939 \\
3 & 12409 & 16733 & 1678 \\
4 & 7939 & 23664 & 2431 \\
5 & 2033 & 28216 & 2031 \\
6 & 446 & 249974 & 33675 \\
7 & 33 & 79606 & 10146 \\
8 & 7 & 46277 & 5064 \\
9 & 0 & 92724 & 8949 \\
10 & 0 & 65679 & 7174 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
DISABWRK & 0 & 1 & 2 \\
EMPSTAT &  &  &  \\
\midrule
0 & 214354 & 0 & 0 \\
1 & 0 & 369319 & 50598 \\
2 & 0 & 27161 & 3279 \\
3 & 0 & 237572 & 50793 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
VETSTAT & 0 & 1 & 2 \\
EMPSTAT &  &  &  \\
\midrule
0 & 214354 & 0 & 0 \\
1 & 2391 & 380603 & 36923 \\
2 & 831 & 27596 & 2013 \\
3 & 9871 & 242768 & 35726 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
VETSTAT & 0 & 1 & 2 \\
DISABWRK &  &  &  \\
\midrule
0 & 214354 & 0 & 0 \\
1 & 12417 & 557771 & 63864 \\
2 & 676 & 93196 & 10798 \\
\bottomrule
\end{tabular}

Build the domain vectors

In [5]:
n_j = np.zeros(len(df.columns))
for index in range(len(df.columns)):

    n_j[index] = df[df.columns[index]].max()
    
n_j = tf.convert_to_tensor(n_j+1, dtype = tf.float32)
max_categ = tf.expand_dims(tf.cast(tf.linspace(0, int(tf.reduce_max(n_j)) - 1, int(tf.reduce_max(n_j))), dtype = tf.float32), axis = 0)*tf.ones((tf.shape(n_j)[0], int(tf.reduce_max(n_j))))
ones_condition = max_categ<tf.expand_dims(n_j, axis = -1)*tf.ones((tf.shape(n_j)[0], int(tf.reduce_max(n_j))))

one_n_j = tf.where(ones_condition, tf.ones(tf.shape(ones_condition)), tf.zeros(tf.shape(ones_condition)))

2024-08-20 17:20:36.746065: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-08-20 17:20:38.216274: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-08-20 17:20:38.216321: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-08-20 17:20:38.235076: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-08-20 17:20:38.235127: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-08-20 17:20:38.235141: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-08-20 17:20:38.530935: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-08-20 17:20:38.531067: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-08-20 17:20:38.531084: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1977] Could not identify NUMA node of platform GPU id 0, defaulting to 0.  Your kernel may not have been built with NUMA support.
2024-08-20 17:20:38.531138: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-08-20 17:20:38.531216: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1886] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 5520 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 4070 Laptop GPU, pci bus id: 0000:01:00.0, compute capability: 8.9
2024-08-20 17:20:39.594827: I tensorflow/tsl/platform/default/subprocess.cc:304] Start cannot spawn child process: No such file or directory

Number of represented cells

In [6]:
tf.reduce_prod(tf.reduce_sum(one_n_j, axis =1)).numpy()

2566080.0

You can create your own samples by uncommenting or load ours.

In [7]:
# np.save("data/structural_zeros/SZ_NY_one_n_j.npy", one_n_j)

# X_ij_complete = np.array(df.values, dtype= int)

# # Shuffle the indices of the data
# indices = np.arange(X_ij_complete.shape[0])

# X_ij_complete_shuffled = X_ij_complete[indices,:]
# np.save("data/structural_zeros/SZ_NY_indices.npy", indices)
# np.save("data/structural_zeros/SZ_NY_X_ij_full.npy", X_ij_complete_shuffled)

# n = 1000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/structural_zeros/SZ_NY_X_ij_1000.npy", X_ij_included)

# n = 5000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/structural_zeros/SZ_NY_X_ij_5000.npy", X_ij_included)

# n = 10000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/structural_zeros/SZ_NY_X_ij_10000.npy", X_ij_included)

In [8]:
os.chdir("scripts/")
%run -i mixed_membership_model.py
%run -i MVR.py
os.chdir("../")

Check the number of sample unique individuals

In [10]:
one_n_j = tf.convert_to_tensor(np.load("data/structural_zeros/SZ_NY_one_n_j.npy"), dtype = tf.int32)
X_ij    = tf.convert_to_tensor(np.load("data/structural_zeros/SZ_NY_X_ij_full.npy"), dtype = tf.int32)

N = 953076

batch_size = 2048

n = 1000
X_ij_1000 = np.load("data/structural_zeros/SZ_NY_X_ij_1000.npy")
tau_in_data_1000 = step_tau_with_data(X_ij_1000, one_n_j, X_ij[n:N,:], batch_size, N)
print(r"n=1000 with tau: ", tau_in_data_1000.numpy())

n = 5000
X_ij_5000 = np.load("data/structural_zeros/SZ_NY_X_ij_5000.npy")
tau_in_data_5000 = step_tau_with_data(X_ij_5000, one_n_j, X_ij[n:N,:], batch_size, N)
print(r"n=5000 with tau: ", tau_in_data_5000.numpy())

n = 10000
X_ij_10000 = np.load("data/structural_zeros/SZ_NY_X_ij_10000.npy")
tau_in_data_10000 = step_tau_with_data(X_ij_10000, one_n_j, X_ij[n:N,:], batch_size, N)
print(r"n=10000 with tau: ", tau_in_data_10000.numpy())

n=1000 with tau:  11.0
n=5000 with tau:  55.0
n=10000 with tau:  88.0

## Build the disjoint constraints

In [11]:
os.chdir("scripts/")
%run -i BNP_structural_zeros.py
%run -i manage_constraints.py
os.chdir("../")

In [12]:
current_constraint      = tf.convert_to_tensor([[1, 2, 0, 0, 0, 0,  0, 0, 0, 0],
						[1, 3, 0, 0, 0, 0,  0, 0, 0, 0],
						[1, 4, 0, 0, 0, 0,  0, 0, 0, 0],
						[2, 1, 0, 0, 0, 0,  0, 0, 0, 0],
						[3, 2, 0, 0, 0, 0,  0, 0, 0, 0],
						[3, 3, 0, 0, 0, 0,  0, 0, 0, 0],
						[3, 4, 0, 0, 0, 0,  0, 0, 0, 0],
						[0, 0, 1, 0, 1, 0,  0, 0, 0, 0],
						[0, 0, 1, 0, 2, 0,  0, 0, 0, 0],
						[0, 0, 1, 0, 3, 0,  0, 0, 0, 0],
						[0, 0, 1, 0, 4, 0,  0, 0, 0, 0],
						[0, 0, 1, 0, 5, 0,  0, 0, 0, 0],
						[0, 0, 1, 0, 0, 0,  8, 0, 0, 0],
						[0, 0, 1, 0, 0, 0,  9, 0, 0, 0],
						[0, 0, 1, 0, 0, 0, 10, 0, 0, 0],
						[0, 0, 1, 0, 0, 0, 11, 0, 0, 0],
						[0, 0, 2, 0, 0, 0,  8, 0, 0, 0],
						[0, 0, 2, 0, 0, 0,  9, 0, 0, 0],
						[0, 0, 2, 0, 0, 0, 10, 0, 0, 0],
						[0, 0, 2, 0, 0, 0, 11, 0, 0, 0],
						[0, 0, 3, 0, 0, 0, 10, 0, 0, 0],
						[0, 0, 3, 0, 0, 0, 11, 0, 0, 0],
						[0, 0, 4, 0, 0, 0, 10, 0, 0, 0],
						[0, 0, 4, 0, 0, 0, 11, 0, 0, 0],
						[0, 0, 1, 0, 0, 0,  0, 2, 0, 0],
						[0, 0, 1, 0, 0, 0,  0, 3, 0, 0],
						[0, 0, 1, 0, 0, 0,  0, 4, 0, 0],
						[0, 0, 2, 0, 0, 0,  0, 2, 0, 0],
						[0, 0, 2, 0, 0, 0,  0, 3, 0, 0],
						[0, 0, 2, 0, 0, 0,  0, 4, 0, 0],
						[0, 0, 3, 0, 0, 0,  0, 1, 0, 0],
						[0, 0, 4, 0, 0, 0,  0, 1, 0, 0],
						[0, 0, 5, 0, 0, 0,  0, 1, 0, 0],
						[0, 0, 6, 0, 0, 0,  0, 1, 0, 0],
						[0, 0, 7, 0, 0, 0,  0, 1, 0, 0],
						[0, 0, 8, 0, 0, 0,  0, 1, 0, 0],
						[0, 0, 9, 0, 0, 0,  0, 1, 0, 0],
						[0, 0, 1, 0, 0, 0,  0, 0, 2, 0],
						[0, 0, 1, 0, 0, 0,  0, 0, 3, 0],
						[0, 0, 2, 0, 0, 0,  0, 0, 2, 0],
						[0, 0, 2, 0, 0, 0,  0, 0, 3, 0],
						[0, 0, 3, 0, 0, 0,  0, 0, 1, 0],
						[0, 0, 4, 0, 0, 0,  0, 0, 1, 0],
						[0, 0, 5, 0, 0, 0,  0, 0, 1, 0],
						[0, 0, 6, 0, 0, 0,  0, 0, 1, 0],
						[0, 0, 7, 0, 0, 0,  0, 0, 1, 0],
						[0, 0, 8, 0, 0, 0,  0, 0, 1, 0],
						[0, 0, 9, 0, 0, 0,  0, 0, 1, 0],
						[0, 0, 1, 0, 0, 0,  0, 0, 0, 2],
						[0, 0, 1, 0, 0, 0,  0, 0, 0, 3],
						[0, 0, 2, 0, 0, 0,  0, 0, 0, 2],
						[0, 0, 2, 0, 0, 0,  0, 0, 0, 3],
						[0, 0, 3, 0, 0, 0,  0, 0, 0, 2],
						[0, 0, 3, 0, 0, 0,  0, 0, 0, 3],
						[0, 0, 4, 0, 0, 0,  0, 0, 0, 1],
						[0, 0, 5, 0, 0, 0,  0, 0, 0, 1],
						[0, 0, 6, 0, 0, 0,  0, 0, 0, 1],
						[0, 0, 7, 0, 0, 0,  0, 0, 0, 1],
						[0, 0, 8, 0, 0, 0,  0, 0, 0, 1],
						[0, 0, 9, 0, 0, 0,  0, 0, 0, 1],
						], dtype = tf.int32)

In [13]:
SZ_NY_one_n_j = tf.cast(np.load("data/structural_zeros/SZ_NY_one_n_j.npy"), dtype = tf.int32)

domain_j = tf.reduce_sum(SZ_NY_one_n_j, axis = 1)

Find the dijoint constraints (the code below can take more than 10min)

In [14]:
# disjoint_constraint = iteration_disjoint_constraint(domain_j, current_constraint)
# np.save("Data/NY/structural_zeros/SZ_NY_disjoint_constraint_MV.npy", disjoint_constraint)

In [15]:
disjoint_constraint = np.load("data/structural_zeros/SZ_NY_disjoint_constraint.npy")

Number of disjoint constraints

In [16]:
disjoint_constraint.shape[0]

557

which represents a total number of cells of:

In [17]:
ncells = tf.where((disjoint_constraint-1)==-1, tf.expand_dims(domain_j, axis = 0), tf.ones(tf.shape(disjoint_constraint), tf.int32))
tf.reduce_sum(tf.reduce_prod(ncells, axis = 1)).numpy()

2317030

# New York data: without structural zeros

Remove the structural zeros by considering AGE >18 and by removing OWNERSHIP and MORTGAGE.

In [26]:
df_no_zeros = df[['AGE', 'SEX', 'MARST', 'RACESING', 'EDUC', 'EMPSTAT', 'DISABWRK', 'VETSTAT']].copy()

In [27]:
print("AGE")
print(np.unique(df_no_zeros[["AGE"]], return_counts=True)[0])
print(np.unique(df_no_zeros[["AGE"]], return_counts=True)[1])

df_no_zeros = df_no_zeros.loc[df_no_zeros["AGE"]>3].copy()

print("AGE")
print(np.unique(df_no_zeros[["AGE"]], return_counts=True)[0])
print(np.unique(df_no_zeros[["AGE"]], return_counts=True)[1])

AGE
[0 1 2 3 4 5 6 7 8]
[201062  13292  13093  13455  82540 145106 219893 177662  86973]
AGE
[4 5 6 7 8]
[ 82540 145106 219893 177662  86973]

Size of the dataframe after removing individuals under 18.

In [28]:
len(df_no_zeros)

712174

In [29]:
for categorical in df_no_zeros.columns: 
	print(categorical)
	print(np.unique(df_no_zeros[[categorical]], return_counts=True)[0])
	print(np.unique(df_no_zeros[[categorical]], return_counts=True)[1])

	df_no_zeros[categorical]   = df_no_zeros[categorical] - df_no_zeros[categorical].min()
	
	print(categorical)
	print(np.unique(df_no_zeros[[categorical]], return_counts=True)[0])
	print(np.unique(df_no_zeros[[categorical]], return_counts=True)[1])

AGE
[4 5 6 7 8]
[ 82540 145106 219893 177662  86973]
AGE
[0 1 2 3 4]
[ 82540 145106 219893 177662  86973]
SEX
[0 1]
[335793 376381]
SEX
[0 1]
[335793 376381]
MARST
[0 1 2 3 4 5]
[361069  27218  22934  59345  55112 186496]
MARST
[0 1 2 3 4 5]
[361069  27218  22934  59345  55112 186496]
RACESING
[0 1 2 3 4]
[577672  91834   3657  36861   2150]
RACESING
[0 1 2 3 4]
[577672  91834   3657  36861   2150]
EDUC
[ 0  1  2  3  4  5  6  7  8  9 10]
[ 11119   4789  35184  17448  21938  24682 281471  89679  51338 101673
  72853]
EDUC
[ 0  1  2  3  4  5  6  7  8  9 10]
[ 11119   4789  35184  17448  21938  24682 281471  89679  51338 101673
  72853]
EMPSTAT
[1 2 3]
[413638  28626 269910]
EMPSTAT
[0 1 2]
[413638  28626 269910]
DISABWRK
[1 2]
[609000 103174]
DISABWRK
[0 1]
[609000 103174]
VETSTAT
[1 2]
[637522  74652]
VETSTAT
[0 1]
[637522  74652]

In [30]:
set_row = []
for row in df_no_zeros.columns:
	set_row.append(row)
	for col in df_no_zeros.columns:
		if row!=col:
			if (col in set_row)==False:
				tab = pd.crosstab( index=df_no_zeros[row], columns=df_no_zeros[col])
				print(tab.to_latex())

\begin{tabular}{lrr}
\toprule
SEX & 0 & 1 \\
AGE &  &  \\
\midrule
0 & 41736 & 40804 \\
1 & 70628 & 74478 \\
2 & 107208 & 112685 \\
3 & 83139 & 94523 \\
4 & 33082 & 53891 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrr}
\toprule
MARST & 0 & 1 & 2 & 3 & 4 & 5 \\
AGE &  &  &  &  &  &  \\
\midrule
0 & 6549 & 4314 & 791 & 413 & 225 & 70248 \\
1 & 66700 & 6321 & 4950 & 7622 & 460 & 59053 \\
2 & 138121 & 7255 & 9897 & 25340 & 2995 & 36285 \\
3 & 113935 & 4851 & 6019 & 21645 & 16338 & 14874 \\
4 & 35764 & 4477 & 1277 & 4325 & 35094 & 6036 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrr}
\toprule
RACESING & 0 & 1 & 2 & 3 & 4 \\
AGE &  &  &  &  &  \\
\midrule
0 & 62734 & 13436 & 564 & 5439 & 367 \\
1 & 112269 & 21430 & 914 & 9953 & 540 \\
2 & 177193 & 28669 & 1216 & 12078 & 737 \\
3 & 148166 & 20861 & 736 & 7517 & 382 \\
4 & 77310 & 7438 & 227 & 1874 & 124 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrrrr}
\toprule
EDUC & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 \\
AGE &  &  &  &  &  &  &  &  &  &  &  \\
\midrule
0 & 754 & 268 & 2085 & 2011 & 3189 & 6908 & 34299 & 19418 & 4507 & 8339 & 762 \\
1 & 1673 & 507 & 4022 & 2857 & 3639 & 3966 & 50900 & 18474 & 13830 & 29715 & 15523 \\
2 & 2846 & 944 & 6466 & 3943 & 4822 & 5220 & 84127 & 27168 & 21237 & 35888 & 27232 \\
3 & 3444 & 1764 & 10976 & 4872 & 5860 & 5098 & 73838 & 17735 & 9791 & 21102 & 23182 \\
4 & 2402 & 1306 & 11635 & 3765 & 4428 & 3490 & 38307 & 6884 & 1973 & 6629 & 6154 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
EMPSTAT & 0 & 1 & 2 \\
AGE &  &  &  \\
\midrule
0 & 45354 & 8529 & 28657 \\
1 & 104716 & 6975 & 33415 \\
2 & 164593 & 8242 & 47058 \\
3 & 92399 & 4299 & 80964 \\
4 & 6576 & 581 & 79816 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
DISABWRK & 0 & 1 \\
AGE &  &  \\
\midrule
0 & 74660 & 7880 \\
1 & 127214 & 17892 \\
2 & 189729 & 30164 \\
3 & 151044 & 26618 \\
4 & 66353 & 20620 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
VETSTAT & 0 & 1 \\
AGE &  &  \\
\midrule
0 & 81741 & 799 \\
1 & 139977 & 5129 \\
2 & 205808 & 14085 \\
3 & 143825 & 33837 \\
4 & 66171 & 20802 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrr}
\toprule
MARST & 0 & 1 & 2 & 3 & 4 & 5 \\
SEX &  &  &  &  &  &  \\
\midrule
0 & 180551 & 14763 & 9121 & 23925 & 10088 & 97345 \\
1 & 180518 & 12455 & 13813 & 35420 & 45024 & 89151 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrr}
\toprule
RACESING & 0 & 1 & 2 & 3 & 4 \\
SEX &  &  &  &  &  \\
\midrule
0 & 274473 & 40549 & 1735 & 18034 & 1002 \\
1 & 303199 & 51285 & 1922 & 18827 & 1148 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrrrr}
\toprule
EDUC & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 \\
SEX &  &  &  &  &  &  &  &  &  &  &  \\
\midrule
0 & 5155 & 2065 & 16907 & 8816 & 11305 & 12368 & 130273 & 42751 & 21694 & 48975 & 35484 \\
1 & 5964 & 2724 & 18277 & 8632 & 10633 & 12314 & 151198 & 46928 & 29644 & 52698 & 37369 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
EMPSTAT & 0 & 1 & 2 \\
SEX &  &  &  \\
\midrule
0 & 216461 & 15295 & 104037 \\
1 & 197177 & 13331 & 165873 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
DISABWRK & 0 & 1 \\
SEX &  &  \\
\midrule
0 & 286127 & 49666 \\
1 & 322873 & 53508 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
VETSTAT & 0 & 1 \\
SEX &  &  \\
\midrule
0 & 264728 & 71065 \\
1 & 372794 & 3587 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrr}
\toprule
RACESING & 0 & 1 & 2 & 3 & 4 \\
MARST &  &  &  &  &  \\
\midrule
0 & 310647 & 27293 & 1410 & 20653 & 1066 \\
1 & 17890 & 6207 & 196 & 2811 & 114 \\
2 & 15826 & 6284 & 202 & 545 & 77 \\
3 & 49091 & 8501 & 443 & 1167 & 143 \\
4 & 46484 & 6836 & 215 & 1464 & 113 \\
5 & 137734 & 36713 & 1191 & 10221 & 637 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrrrr}
\toprule
EDUC & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 \\
MARST &  &  &  &  &  &  &  &  &  &  &  \\
\midrule
0 & 3769 & 1881 & 14580 & 6869 & 8739 & 8182 & 143247 & 41206 & 29535 & 56412 & 46649 \\
1 & 1165 & 476 & 2840 & 1227 & 1450 & 1338 & 10477 & 3093 & 1140 & 2330 & 1682 \\
2 & 531 & 258 & 1649 & 891 & 990 & 1074 & 9909 & 2756 & 1599 & 1952 & 1325 \\
3 & 703 & 333 & 2610 & 1385 & 1798 & 1709 & 24809 & 7823 & 5052 & 7147 & 5976 \\
4 & 1567 & 803 & 7287 & 2556 & 2907 & 2407 & 25169 & 4260 & 1693 & 3583 & 2880 \\
5 & 3384 & 1038 & 6218 & 4520 & 6054 & 9972 & 67860 & 30541 & 12319 & 30249 & 14341 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
EMPSTAT & 0 & 1 & 2 \\
MARST &  &  &  \\
\midrule
0 & 228205 & 8207 & 124657 \\
1 & 10564 & 3419 & 13235 \\
2 & 13115 & 1461 & 8358 \\
3 & 38062 & 2444 & 18839 \\
4 & 9131 & 763 & 45218 \\
5 & 114561 & 12332 & 59603 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
DISABWRK & 0 & 1 \\
MARST &  &  \\
\midrule
0 & 319243 & 41826 \\
1 & 19927 & 7291 \\
2 & 18463 & 4471 \\
3 & 49094 & 10251 \\
4 & 41697 & 13415 \\
5 & 160576 & 25920 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
VETSTAT & 0 & 1 \\
MARST &  &  \\
\midrule
0 & 311300 & 49769 \\
1 & 25151 & 2067 \\
2 & 20782 & 2152 \\
3 & 51769 & 7576 \\
4 & 49623 & 5489 \\
5 & 178897 & 7599 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrrrr}
\toprule
EDUC & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 \\
RACESING &  &  &  &  &  &  &  &  &  &  &  \\
\midrule
0 & 7442 & 3561 & 27486 & 13196 & 16459 & 18140 & 229553 & 71847 & 43324 & 84020 & 62644 \\
1 & 1710 & 595 & 4735 & 3079 & 4269 & 5662 & 39456 & 13193 & 5882 & 8640 & 4613 \\
2 & 117 & 47 & 317 & 164 & 201 & 185 & 1448 & 465 & 228 & 300 & 185 \\
3 & 1779 & 541 & 2490 & 953 & 957 & 624 & 10081 & 3944 & 1781 & 8438 & 5273 \\
4 & 71 & 45 & 156 & 56 & 52 & 71 & 933 & 230 & 123 & 275 & 138 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
EMPSTAT & 0 & 1 & 2 \\
RACESING &  &  &  \\
\midrule
0 & 341679 & 20222 & 215771 \\
1 & 47141 & 6587 & 38106 \\
2 & 1912 & 265 & 1480 \\
3 & 21683 & 1452 & 13726 \\
4 & 1223 & 100 & 827 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
DISABWRK & 0 & 1 \\
RACESING &  &  \\
\midrule
0 & 499290 & 78382 \\
1 & 74075 & 17759 \\
2 & 3003 & 654 \\
3 & 30905 & 5956 \\
4 & 1727 & 423 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
VETSTAT & 0 & 1 \\
RACESING &  &  \\
\midrule
0 & 510365 & 67307 \\
1 & 85486 & 6348 \\
2 & 3324 & 333 \\
3 & 36257 & 604 \\
4 & 2090 & 60 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrr}
\toprule
EMPSTAT & 0 & 1 & 2 \\
EDUC &  &  &  \\
\midrule
0 & 2832 & 656 & 7631 \\
1 & 1323 & 188 & 3278 \\
2 & 9538 & 1354 & 24292 \\
3 & 5407 & 931 & 11110 \\
4 & 7117 & 1468 & 13353 \\
5 & 9189 & 1835 & 13658 \\
6 & 151542 & 13020 & 116909 \\
7 & 56933 & 4063 & 28683 \\
8 & 38174 & 1553 & 11611 \\
9 & 75355 & 2418 & 23900 \\
10 & 56228 & 1140 & 15485 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
DISABWRK & 0 & 1 \\
EDUC &  &  \\
\midrule
0 & 7724 & 3395 \\
1 & 3429 & 1360 \\
2 & 26269 & 8915 \\
3 & 13744 & 3704 \\
4 & 17574 & 4364 \\
5 & 20503 & 4179 \\
6 & 237123 & 44348 \\
7 & 78690 & 10989 \\
8 & 45422 & 5916 \\
9 & 91991 & 9682 \\
10 & 66531 & 6322 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
VETSTAT & 0 & 1 \\
EDUC &  &  \\
\midrule
0 & 10722 & 397 \\
1 & 4611 & 178 \\
2 & 32246 & 2938 \\
3 & 15770 & 1678 \\
4 & 19510 & 2428 \\
5 & 22656 & 2026 \\
6 & 247797 & 33674 \\
7 & 79533 & 10146 \\
8 & 46274 & 5064 \\
9 & 92724 & 8949 \\
10 & 65679 & 7174 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
DISABWRK & 0 & 1 \\
EMPSTAT &  &  \\
\midrule
0 & 363687 & 49951 \\
1 & 25424 & 3202 \\
2 & 219889 & 50021 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
VETSTAT & 0 & 1 \\
EMPSTAT &  &  \\
\midrule
0 & 376719 & 36919 \\
1 & 26613 & 2013 \\
2 & 234190 & 35720 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrr}
\toprule
VETSTAT & 0 & 1 \\
DISABWRK &  &  \\
\midrule
0 & 545144 & 63856 \\
1 & 92378 & 10796 \\
\bottomrule
\end{tabular}

In [33]:
os.chdir("scripts/")
%run -i mixed_membership_model.py
%run -i MVR.py
os.chdir("../")

In [34]:
n_j = np.zeros(len(df_no_zeros.columns))
for index in range(len(df_no_zeros.columns)):

    n_j[index] = df_no_zeros[df_no_zeros.columns[index]].max()
    
n_j = tf.convert_to_tensor(n_j+1, dtype = tf.float32)
max_categ = tf.expand_dims(tf.cast(tf.linspace(0, int(tf.reduce_max(n_j)) - 1, int(tf.reduce_max(n_j))), dtype = tf.float32), axis = 0)*tf.ones((tf.shape(n_j)[0], int(tf.reduce_max(n_j))))
ones_condition = max_categ<tf.expand_dims(n_j, axis = -1)*tf.ones((tf.shape(n_j)[0], int(tf.reduce_max(n_j))))

one_n_j = tf.where(ones_condition, tf.ones(tf.shape(ones_condition)), tf.zeros(tf.shape(ones_condition)))

The new contingency table has

In [35]:
tf.reduce_prod((tf.reduce_sum(one_n_j, axis = 1))).numpy()

39600.0

Again you can generate your data or load our own

In [36]:
# np.save("data/clean/NY_one_n_j.npy", one_n_j)

# X_ij_complete = np.array(df_no_zeros.values, dtype= int)

# # Shuffle the indices of the data
# indices = np.arange(X_ij_complete.shape[0])

# X_ij_complete_shuffled = X_ij_complete[indices,:]
# np.save("data/clean/NY_indices.npy", indices)
# np.save("data/clean/NY_X_ij_full.npy", X_ij_complete_shuffled)

# n = 1000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/clean/NY_X_ij_1000.npy", X_ij_included)

# n = 5000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/clean/NY_X_ij_5000.npy", X_ij_included)

# n = 10000
# X_ij_included = X_ij_complete_shuffled[:n,:]
# np.save("data/clean/NY_X_ij_10000.npy", X_ij_included)

Compute sample unique in this sample

In [37]:
one_n_j = tf.convert_to_tensor(np.load("data/clean/NY_one_n_j.npy"), dtype = tf.int32)
X_ij    = tf.convert_to_tensor(np.load("data/clean/NY_X_ij_full.npy"), dtype = tf.int32)

N = 712174

batch_size = 2048

n = 1000
X_ij_1000 = np.load("data/clean/NY_X_ij_1000.npy")
tau_in_data_1000 = step_tau_with_data(X_ij_1000, one_n_j, X_ij[n:N,:], batch_size, N)
print(r"n=1000 with tau: ", tau_in_data_1000.numpy())

n = 5000
X_ij_5000 = np.load("data/clean/NY_X_ij_5000.npy")
tau_in_data_5000 = step_tau_with_data(X_ij_5000, one_n_j, X_ij[n:N,:], batch_size, N)
print(r"n=5000 with tau: ", tau_in_data_5000.numpy())

n = 10000
X_ij_10000 = np.load("data/clean/NY_X_ij_10000.npy")
tau_in_data_10000 = step_tau_with_data(X_ij_10000, one_n_j, X_ij[n:N,:], batch_size, N)
print(r"n=10000 with tau: ", tau_in_data_10000.numpy())

n=1000 with tau:  9.0
n=5000 with tau:  27.0
n=10000 with tau:  53.0

# Synthetic data

In [40]:
os.chdir("scripts/")
%run -i mixed_membership_model.py
%run -i MVR.py
os.chdir("../")

Generate synthetic data as follows. Note that we did not set a seed, but we provide the synthetic data we generated.

In [41]:
one_n_j = tf.convert_to_tensor(np.load("data/clean/NY_one_n_j.npy"), dtype = tf.float32)
a_0, b_0 = 2, 1

K = 15

N = 712174

X_ij, theta_j_k, g_i, g_0 = param_mixed_membership_model(K, one_n_j, a_0, b_0, N)

# np.save("data/synthetic/synth_X_ij_full.npy", X_ij)
# np.save("data/synthetic/synth_theta_j_k.npy", theta_j_k)
# np.save("data/synthetic/synth_g_i.npy", g_i)
# np.save("data/synthetic/synth_g_0.npy", g_0)
# np.save("data/synthetic/US_one_n_j.npy", one_n_j)

# n = 1000
# np.save("Data/Synthetic/synth_X_ij_1000.npy", X_ij[:n,:])
# n = 5000
# np.save("Data/Synthetic/synth_X_ij_5000.npy", X_ij[:n,:])
# n = 10000
# np.save("Data/Synthetic/synth_X_ij_10000.npy", X_ij[:n,:])

In [42]:
X_ij      = tf.convert_to_tensor(np.load("data/synthetic/synth_X_ij_full.npy"), dtype = tf.int32)
theta_j_k = tf.convert_to_tensor(np.load("data/synthetic/synth_theta_j_k.npy"), dtype = tf.float32)
g_i       = tf.convert_to_tensor(np.load("data/synthetic/synth_g_i.npy" ), dtype = tf.float32)
g_0       = tf.convert_to_tensor(np.load("data/synthetic/synth_g_0.npy" ), dtype = tf.float32)
one_n_j   = tf.convert_to_tensor(np.load("data/synthetic/NY_one_n_j.npy"), dtype = tf.float32)

In [43]:
batch_size = 2048

X_ij_1000 = np.load("data/synthetic/synth_X_ij_1000.npy")
tau_in_data_1000 = step_tau_with_data(X_ij_1000, one_n_j, X_ij[n:N,:], batch_size, N)
print(r"n=1000 with tau: ", tau_in_data_1000.numpy())

X_ij_5000 = np.load("data/synthetic/synth_X_ij_5000.npy")
tau_in_data_5000 = step_tau_with_data(X_ij_5000, one_n_j, X_ij[n:N,:], batch_size, N)
print(r"n=5000 with tau: ", tau_in_data_5000.numpy())

X_ij_10000 = np.load("data/synthetic/synth_X_ij_10000.npy")
tau_in_data_10000 = step_tau_with_data(X_ij_10000, one_n_j, X_ij[n:N,:], batch_size, N)
print(r"n=10000 with tau: ", tau_in_data_10000.numpy())

WARNING:tensorflow:5 out of the last 14 calls to <function fast_frequency at 0x7f685ff24720> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:5 out of the last 13 calls to <function fast_frequency_batched_final_size at 0x7f685ff247c0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
n=1000 with tau:  4.0
WARNING:tensorflow:6 out of the last 15 calls to <function fast_frequency at 0x7f685ff24720> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:6 out of the last 14 calls to <function fast_frequency_batched_final_size at 0x7f685ff247c0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
n=5000 with tau:  28.0
n=10000 with tau:  66.0